# Smart DB Connector V3 - Constraints Testing (FINAL)

Testing database constraints with our Smart DB Connector class:
1. âœ… Connect to both databases using db_connector
2. âœ… CREATE TABLE with PRIMARY KEY and FOREIGN KEY constraints 
3. âœ… Use populate() function with mode='append'
4. âœ… Test constraints functionality

**Logic**: Use district_id if available (preferred), otherwise use district for FK

In [1]:
# Import our Smart DB Connector
import pandas as pd
import sys
from pathlib import Path
import time
import random

# Add connector path
current_dir = Path.cwd()
if current_dir.name == 'tests':
    parent_dir = current_dir.parent
else:
    parent_dir = Path("/Users/svitlanakovalivska/layered-populate-data-pool-da/db_population_utils/db_connector")

sys.path.insert(0, str(parent_dir))

# Import our connector
from smart_db_connector_enhanced_V3 import db_connector
print("âœ… Smart DB Connector V3 imported successfully")

âœ… Smart DB Connector V3 imported successfully

In [2]:
# Connect to NeonDB
print("ğŸ”Œ CONNECTING TO NEONDB")
print("=" * 30)

neon_db = db_connector()  # Default NeonDB connection
print(f"âœ… NeonDB connected: {neon_db.connection_type}")
print(f"ğŸ“‹ Schema: {neon_db.current_schema}")
print(f"ğŸ“Š Tables: {len(neon_db.tables)}")

ğŸ”Œ CONNECTING TO NEONDB
==============================
ğŸŒŸ SMART DATABASE CONNECTOR V3 - INITIALIZING...
============================================================
ğŸ”— Using default NeonDB connection
âœ… NeonDB configuration loaded
   Default schema: test_berlin_data
ğŸ”Œ Connecting to NeonDB...
âœ… Connection successful!
   Database: neondb
   User: neondb_owner

ğŸ” Auto-discovering database schemas...
âœ… Discovered 4 schemas
ğŸ¯ Auto-selected default schema: test_berlin_data

============================================================
ğŸ“Š SMART DB CONNECTOR V3 - CONNECTION SUMMARY
============================================================
ğŸ”— Connection Type: NeonDB

ğŸ—‚ï¸  Discovered 4 schemas:
  ğŸ“ dependency_example: 5 tables
       â””â”€ banks_test_kovalivska_aws (11 columns)
       â””â”€ departments (2 columns)
       â””â”€ districts (3 columns)
       â””â”€ ... and 2 more tables
  ğŸ“ nyc_schools: 27 tables
       â””â”€ Audrey_sat_results (10 columns)
       â””â”€ Colleges_Berlin (12 columns)
       â””â”€ Levon_cleaned_sat_scores (8 columns)
       â””â”€ ... and 24 more tables
  ğŸ“ public: 15 tables
       â””â”€ audrey_sat_results (10 columns)
       â””â”€ cleaned_sat_results_peter_s (9 columns)
       â””â”€ demo_users (6 columns)
       â””â”€ ... and 12 more tables
  ğŸ¯ [CURRENT] test_berlin_data: 41 tables
       â””â”€ banks_constraints_test_1891_2329 (11 columns)
       â””â”€ banks_constraints_test_3954_4574 (11 columns)
       â””â”€ banks_fresh_test_573 (11 columns)
       â””â”€ ... and 38 more tables

ğŸ’¡ Quick Commands:
   db.schemas          # List all schemas
   db.use('schema')    # Switch to schema
   db.tables           # List tables in current schema
   db.query('sql')     # Execute query
   db.populate(df, 'table')  # Insert DataFrame
   db.health_check()   # Check connection status
============================================================
âœ… NeonDB connected: ConnectionType.NEON_DB
ğŸ“‹ Schema: test_berlin_data
ğŸ“Š Tables: 41

In [3]:
# Connect to AWS LayeredDB
print("ğŸ”Œ CONNECTING TO AWS LAYEREDDB")
print("=" * 35)

username = 'svitlana_kovalivska'
password = '4i3mRyKE38edL3'

try:
    aws_db = db_connector(database='layereddb', username=username, password=password)
    print(f"âœ… AWS LayeredDB connected: {aws_db.connection_type}")
    print(f"ğŸ“‹ Schema: {aws_db.current_schema}")
    print(f"ğŸ“Š Tables: {len(aws_db.tables)}")
    aws_connected = True
except Exception as e:
    print(f"âŒ AWS connection failed: {e}")
    print("Will continue with NeonDB only")
    aws_connected = False

ğŸ”Œ CONNECTING TO AWS LAYEREDDB
===================================
ğŸŒŸ SMART DATABASE CONNECTOR V3 - INITIALIZING...
============================================================
ğŸš‡ AWS LayeredDB connection requested
ğŸš‡ Tunnel Status: Connected
âœ… AWS LayeredDB configuration loaded
   Tunnel: Tunnel is active on localhost:5433
ğŸ”Œ Connecting to AWS LayeredDB...
âœ… Connection successful!
   Database: layereddb
   User: svitlana_kovalivska

ğŸ” Auto-discovering database schemas...
âœ… Discovered 2 schemas
ğŸ¯ Auto-selected default schema: berlin_source_data

============================================================
ğŸ“Š SMART DB CONNECTOR V3 - CONNECTION SUMMARY
============================================================
ğŸ”— Connection Type: AWS LayeredDB
ğŸš‡ Tunnel Status: Connected (localhost:5433)

ğŸ—‚ï¸  Discovered 2 schemas:
  ğŸ¯ [CURRENT] berlin_source_data: 10 tables
       â””â”€ aws_test_customers_v3 (5 columns)
       â””â”€ aws_test_products_v3 (6 columns)
       â””â”€ aws_test_sales_v3 (6 columns)
       â””â”€ ... and 7 more tables
  ğŸ“ public: 22 tables
       â””â”€ aws_test_customers_v3 (5 columns)
       â””â”€ aws_test_products_v3 (6 columns)
       â””â”€ aws_test_sales_v3 (6 columns)
       â””â”€ ... and 19 more tables

ğŸ’¡ Quick Commands:
   db.schemas          # List all schemas
   db.use('schema')    # Switch to schema
   db.tables           # List tables in current schema
   db.query('sql')     # Execute query
   db.populate(df, 'table')  # Insert DataFrame
   db.health_check()   # Check connection status
============================================================
âœ… AWS LayeredDB connected: ConnectionType.AWS_LAYERED_DB
ğŸ“‹ Schema: berlin_source_data
ğŸ“Š Tables: 10

In [4]:
# Analyze districts table structures and get valid FK values
print("ğŸ” ANALYZING DISTRICTS TABLES")
print("=" * 30)

# NeonDB districts analysis
print("ğŸ“— NeonDB Districts:")
neon_districts_info = neon_db.query("""
    SELECT column_name, data_type 
    FROM information_schema.columns 
    WHERE table_schema = 'test_berlin_data' AND table_name = 'districts'
    ORDER BY ordinal_position
""", show_info=False)
print(neon_districts_info)

# Determine NeonDB FK column and values
if 'district_id' in neon_districts_info['column_name'].values:
    neon_fk_column = 'district_id'
    neon_districts = neon_db.query("SELECT district_id FROM districts ORDER BY district_id LIMIT 5", show_info=False)
    neon_valid_districts = neon_districts['district_id'].tolist()
    print(f"ğŸ”‘ NeonDB FK: district_id, values: {neon_valid_districts}")
elif 'district' in neon_districts_info['column_name'].values:
    neon_fk_column = 'district'
    neon_districts = neon_db.query("SELECT district FROM districts ORDER BY district LIMIT 5", show_info=False)
    neon_valid_districts = neon_districts['district'].tolist()
    print(f"ğŸ”‘ NeonDB FK: district, values: {neon_valid_districts[:3]}...")
else:
    neon_fk_column = 'district'
    neon_valid_districts = ['Mitte', 'Pankow', 'Charlottenburg-Wilmersdorf']
    print(f"ğŸ”‘ NeonDB FK: district (fallback), values: {neon_valid_districts}")

# AWS districts analysis (if connected)
if aws_connected:
    print("\nğŸ“˜ AWS Districts:")
    aws_districts_info = aws_db.query("""
        SELECT column_name, data_type 
        FROM information_schema.columns 
        WHERE table_schema = 'berlin_source_data' AND table_name = 'districts'
        ORDER BY ordinal_position
    """, show_info=False)
    print(aws_districts_info)
    
    if 'district_id' in aws_districts_info['column_name'].values:
        aws_fk_column = 'district_id'
        aws_districts = aws_db.query("SELECT district_id FROM districts ORDER BY district_id LIMIT 5", show_info=False)
        aws_valid_districts = aws_districts['district_id'].tolist()
        print(f"ğŸ”‘ AWS FK: district_id, values: {aws_valid_districts}")
    elif 'district' in aws_districts_info['column_name'].values:
        aws_fk_column = 'district'
        aws_districts = aws_db.query("SELECT district FROM districts ORDER BY district LIMIT 5", show_info=False)
        aws_valid_districts = aws_districts['district'].tolist()
        print(f"ğŸ”‘ AWS FK: district, values: {aws_valid_districts[:3]}...")
    else:
        aws_fk_column = 'district_id'
        aws_valid_districts = ['11001001', '11002002', '11003003']
        print(f"ğŸ”‘ AWS FK: district_id (fallback), values: {aws_valid_districts}")
else:
    aws_fk_column = neon_fk_column
    aws_valid_districts = neon_valid_districts

print(f"\nğŸ¯ Summary: NeonDB uses {neon_fk_column}, AWS uses {aws_fk_column}")

ğŸ” ANALYZING DISTRICTS TABLES
==============================
ğŸ“— NeonDB Districts:
    column_name          data_type
0      district  character varying
1      geometry       USER-DEFINED
2  geometry_str               text
ğŸ”‘ NeonDB FK: district, values: ['Charlottenburg-Wilmersdorf', 'Friedrichshain-Kreuzberg', 'Lichtenberg']...

ğŸ“˜ AWS Districts:
   column_name          data_type
0  district_id  character varying
1     district  character varying
2     geometry       USER-DEFINED
ğŸ”‘ AWS FK: district_id, values: ['11001001', '11002002', '11003003', '11004004', '11005005']

ğŸ¯ Summary: NeonDB uses district, AWS uses district_id

In [5]:
# Create test data
print("ğŸ“Š CREATING TEST DATA")
print("=" * 20)

test_data = pd.DataFrame({
    'bank_id': ['SMART001', 'SMART002', 'SMART003'],
    'name': ['Smart Bank 1', 'Smart Bank 2', 'Smart Bank 3'],
    'district_id': neon_valid_districts[:3],
    'address': ['Address 1', 'Address 2', 'Address 3'],
    'phone': ['+49 30 111111', '+49 30 222222', '+49 30 333333']
})

print("âœ… Test data created:")
print(test_data)
print(f"ğŸ”‘ Using {neon_fk_column} values: {test_data['district_id'].tolist()}")

ğŸ“Š CREATING TEST DATA
====================
âœ… Test data created:
    bank_id          name                 district_id    address  \
0  SMART001  Smart Bank 1  Charlottenburg-Wilmersdorf  Address 1
1  SMART002  Smart Bank 2    Friedrichshain-Kreuzberg  Address 2
2  SMART003  Smart Bank 3                 Lichtenberg  Address 3

           phone
0  +49 30 111111
1  +49 30 222222
2  +49 30 333333
ğŸ”‘ Using district values: ['Charlottenburg-Wilmersdorf', 'Friedrichshain-Kreuzberg', 'Lichtenberg']

In [6]:
# STEP 1: Create NeonDB table with constraints
print("ğŸ—ï¸ STEP 1: CREATE NEONDB TABLE WITH CONSTRAINTS")
print("=" * 50)

# Generate unique table name
table_suffix = f"{int(time.time()) % 10000}_{random.randint(1000, 9999)}"
table_name = f"smart_banks_test_{table_suffix}"

print(f"ğŸ“‹ Table: {table_name}")
print(f"ğŸ”‘ FK column: {neon_fk_column}")

create_neon_sql = f"""
CREATE TABLE test_berlin_data.{table_name} (
    bank_id VARCHAR(20) PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    district_id TEXT,
    address TEXT,
    phone VARCHAR(20),
    CONSTRAINT fk_{table_name}_district 
        FOREIGN KEY (district_id) 
        REFERENCES test_berlin_data.districts({neon_fk_column})
        ON DELETE RESTRICT
);
"""

try:
    from sqlalchemy import text
    
    # Method 1: Explicit transaction
    with neon_db.engine.connect() as conn:
        trans = conn.begin()
        try:
            conn.execute(text(create_neon_sql))
            trans.commit()
            print("âœ… NeonDB table created (Method 1)")
        except Exception as e1:
            trans.rollback()
            print(f"âš ï¸ Method 1 failed: {str(e1)[:100]}...")
            
            # Method 2: Autocommit
            try:
                conn.execution_options(autocommit=True).execute(text(create_neon_sql))
                print("âœ… NeonDB table created (Method 2)")
            except Exception as e2:
                print(f"âŒ Method 2 failed: {str(e2)[:100]}...")
                raise e2
    
    # Verify table and constraints
    time.sleep(2)
    
    count_result = neon_db.query(f"SELECT COUNT(*) as count FROM test_berlin_data.{table_name}", show_info=False)
    print(f"âœ… Table verified: {count_result['count'].iloc[0]} rows")
    
    constraints = neon_db.query(f"""
        SELECT constraint_name, constraint_type 
        FROM information_schema.table_constraints 
        WHERE table_schema = 'test_berlin_data' AND table_name = '{table_name}'
    """, show_info=False)
    
    print(f"ğŸ”’ Constraints: {len(constraints)}")
    for _, c in constraints.iterrows():
        print(f"   âœ… {c['constraint_type']}: {c['constraint_name']}")
        
    neon_table_created = True
    
except Exception as e:
    print(f"âŒ NeonDB table creation failed: {e}")
    neon_table_created = False

ğŸ—ï¸ STEP 1: CREATE NEONDB TABLE WITH CONSTRAINTS
==================================================
ğŸ“‹ Table: smart_banks_test_6802_9949
ğŸ”‘ FK column: district
âœ… NeonDB table created (Method 1)
âœ… Table verified: 0 rows
ğŸ”’ Constraints: 4
   âœ… PRIMARY KEY: smart_banks_test_6802_9949_pkey
   âœ… FOREIGN KEY: fk_smart_banks_test_6802_9949_district
   âœ… CHECK: 204800_1843224_1_not_null
   âœ… CHECK: 204800_1843224_2_not_null

In [7]:
# Create AWS table if connected
if aws_connected:
    print(f"\nğŸ—ï¸ CREATING AWS TABLE: {table_name}")
    print("=" * 35)
    print(f"ğŸ”‘ AWS FK column: {aws_fk_column}")
    
    create_aws_sql = f"""
    CREATE TABLE berlin_source_data.{table_name} (
        bank_id VARCHAR(20) PRIMARY KEY,
        name VARCHAR(100) NOT NULL,
        district_id TEXT,
        address TEXT,
        phone VARCHAR(20),
        CONSTRAINT fk_{table_name}_district 
            FOREIGN KEY (district_id) 
            REFERENCES berlin_source_data.districts({aws_fk_column})
            ON DELETE RESTRICT
    );
    """
    
    try:
        with aws_db.engine.connect() as conn:
            trans = conn.begin()
            try:
                conn.execute(text(create_aws_sql))
                trans.commit()
                print("âœ… AWS table created (Method 1)")
            except Exception as e1:
                trans.rollback()
                print(f"âš ï¸ AWS Method 1 failed: {str(e1)[:100]}...")
                
                try:
                    conn.execution_options(autocommit=True).execute(text(create_aws_sql))
                    print("âœ… AWS table created (Method 2)")
                except Exception as e2:
                    print(f"âŒ AWS Method 2 failed: {str(e2)[:100]}...")
                    raise e2
        
        time.sleep(2)
        count_result = aws_db.query(f"SELECT COUNT(*) as count FROM berlin_source_data.{table_name}", show_info=False)
        print(f"âœ… AWS table verified: {count_result['count'].iloc[0]} rows")
        
        constraints = aws_db.query(f"""
            SELECT constraint_name, constraint_type 
            FROM information_schema.table_constraints 
            WHERE table_schema = 'berlin_source_data' AND table_name = '{table_name}'
        """, show_info=False)
        
        print(f"ğŸ”’ AWS Constraints: {len(constraints)}")
        for _, c in constraints.iterrows():
            print(f"   âœ… {c['constraint_type']}: {c['constraint_name']}")
            
        aws_table_created = True
        
    except Exception as e:
        print(f"âŒ AWS table creation failed: {str(e)[:150]}...")
        aws_table_created = False
else:
    aws_table_created = False

ğŸ—ï¸ CREATING AWS TABLE: smart_banks_test_6802_9949
===================================
ğŸ”‘ AWS FK column: district_id
âœ… AWS table created (Method 1)
âœ… AWS table verified: 0 rows
ğŸ”’ AWS Constraints: 4
   âœ… PRIMARY KEY: smart_banks_test_6802_9949_pkey
   âœ… FOREIGN KEY: fk_smart_banks_test_6802_9949_district
   âœ… CHECK: 24602_57956_1_not_null
   âœ… CHECK: 24602_57956_2_not_null

## STEP 2: Populate Tables Using Smart DB Connector

Use our connector's `populate()` function with `mode='append'` to preserve constraints

In [8]:
# STEP 2: Populate NeonDB table
print("ğŸ“Š STEP 2: POPULATE TABLES")
print("=" * 30)

if neon_table_created:
    print("ğŸ“— NEONDB POPULATION:")
    try:
        result = neon_db.populate(
            df=test_data,
            table_name=table_name,
            schema='test_berlin_data',
            mode='append',  # âœ… PRESERVE CONSTRAINTS
            show_report=True
        )
        
        print(f"âœ… NeonDB result: {result['status']}")
        if result['status'] == 'success':
            print(f"ğŸ“Š Rows: {result.get('rows_inserted', 0)}")
            
            data_check = neon_db.query(f"SELECT * FROM test_berlin_data.{table_name}", show_info=False)
            print(f"ğŸ“‹ Data: {len(data_check)} rows")
            print(data_check[['bank_id', 'name', 'district_id']])
            
        neon_populated = True
        
    except Exception as e:
        print(f"âŒ NeonDB population failed: {e}")
        neon_populated = False
else:
    print("âš ï¸ NeonDB table not created")
    neon_populated = False

ğŸ“Š STEP 2: POPULATE TABLES
==============================
ğŸ“— NEONDB POPULATION:

============================================================
ğŸ“Š SMART POPULATE - PRE-POPULATION ANALYSIS
============================================================
ğŸ¯ Target: test_berlin_data.smart_banks_test_6802_9949
ğŸ“ Mode: APPEND
ğŸ”— Connection: ConnectionType.NEON_DB

ğŸ“‹ DATASET ANALYSIS:
   Rows: 3
   Columns: 5
   Memory usage: 0.00 MB

ğŸ” COLUMN ANALYSIS:
   bank_id: object | Nulls: 0 (0.0%) | Unique: 3
   name: object | Nulls: 0 (0.0%) | Unique: 3
   district_id: object | Nulls: 0 (0.0%) | Unique: 3
   address: object | Nulls: 0 (0.0%) | Unique: 3
   phone: object | Nulls: 0 (0.0%) | Unique: 3

âœ… DATA QUALITY CHECKS:
   Total null values: 0
   Duplicate rows: 0

ğŸ—ï¸  TABLE STATUS:
   Table exists: No
============================================================
ğŸ“ Inserting 3 rows Ã— 5 columns
   Target: test_berlin_data.smart_banks_test_6802_9949
   Action: append
âœ… Insert completed successfully

============================================================
ğŸ‰ SMART POPULATE - OPERATION COMPLETED
============================================================
âœ… Status: SUCCESS
ğŸ¯ Table: test_berlin_data.smart_banks_test_6802_9949
ğŸ“ Mode: APPEND
â±ï¸  Execution time: 1.03 seconds
ğŸ“Š Rows processed: 3
âš¡ Performance: 3 rows/second
============================================================

âœ… NeonDB result: success
ğŸ“Š Rows: 3
ğŸ“‹ Data: 3 rows
    bank_id          name                 district_id
0  SMART001  Smart Bank 1  Charlottenburg-Wilmersdorf
1  SMART002  Smart Bank 2    Friedrichshain-Kreuzberg
2  SMART003  Smart Bank 3                 Lichtenberg

In [9]:
# Populate AWS table
if aws_table_created:
    print("\nğŸ“˜ AWS POPULATION:")
    try:
        # Use AWS district values
        aws_test_data = test_data.copy()
        aws_test_data['district_id'] = aws_valid_districts[:3]
        
        print(f"ğŸ”‘ AWS district values: {aws_test_data['district_id'].tolist()}")
        
        result = aws_db.populate(
            df=aws_test_data,
            table_name=table_name,
            schema='berlin_source_data',
            mode='append',
            show_report=True
        )
        
        print(f"âœ… AWS result: {result['status']}")
        if result['status'] == 'success':
            print(f"ğŸ“Š Rows: {result.get('rows_inserted', 0)}")
            
            data_check = aws_db.query(f"SELECT * FROM berlin_source_data.{table_name}", show_info=False)
            print(f"ğŸ“‹ Data: {len(data_check)} rows")
            print(data_check[['bank_id', 'name', 'district_id']])
            
        aws_populated = True
        
    except Exception as e:
        print(f"âŒ AWS population failed: {e}")
        aws_populated = False
else:
    print("âš ï¸ AWS table not created")
    aws_populated = False

ğŸ“˜ AWS POPULATION:
ğŸ”‘ AWS district values: ['11001001', '11002002', '11003003']

============================================================
ğŸ“Š SMART POPULATE - PRE-POPULATION ANALYSIS
============================================================
ğŸ¯ Target: berlin_source_data.smart_banks_test_6802_9949
ğŸ“ Mode: APPEND
ğŸ”— Connection: ConnectionType.AWS_LAYERED_DB

ğŸ“‹ DATASET ANALYSIS:
   Rows: 3
   Columns: 5
   Memory usage: 0.00 MB

ğŸ” COLUMN ANALYSIS:
   bank_id: object | Nulls: 0 (0.0%) | Unique: 3
   name: object | Nulls: 0 (0.0%) | Unique: 3
   district_id: object | Nulls: 0 (0.0%) | Unique: 3
   address: object | Nulls: 0 (0.0%) | Unique: 3
   phone: object | Nulls: 0 (0.0%) | Unique: 3

âœ… DATA QUALITY CHECKS:
   Total null values: 0
   Duplicate rows: 0

ğŸ—ï¸  TABLE STATUS:
   Table exists: No
============================================================
ğŸ“ Inserting 3 rows Ã— 5 columns
   Target: berlin_source_data.smart_banks_test_6802_9949
   Action: append
âœ… Insert completed successfully

============================================================
ğŸ‰ SMART POPULATE - OPERATION COMPLETED
============================================================
âœ… Status: SUCCESS
ğŸ¯ Table: berlin_source_data.smart_banks_test_6802_9949
ğŸ“ Mode: APPEND
â±ï¸  Execution time: 0.26 seconds
ğŸ“Š Rows processed: 3
âš¡ Performance: 11 rows/second
============================================================

âœ… AWS result: success
ğŸ“Š Rows: 3
ğŸ“‹ Data: 3 rows
    bank_id          name district_id
0  SMART001  Smart Bank 1    11001001
1  SMART002  Smart Bank 2    11002002
2  SMART003  Smart Bank 3    11003003

## STEP 3: Test Constraints Functionality

Test that our constraints actually work by trying to violate them

In [10]:
# STEP 3: Test constraints
print("ğŸ§ª STEP 3: TEST CONSTRAINTS")
print("=" * 30)

if neon_populated:
    print("1ï¸âƒ£ NeonDB Primary Key Test:")
    
    # Try duplicate PK
    duplicate_data = pd.DataFrame({
        'bank_id': ['SMART001'],  # Duplicate!
        'name': ['Duplicate Bank'],
        'district_id': [neon_valid_districts[0]],
        'address': ['Duplicate Address'],
        'phone': ['+49 30 999999']
    })
    
    try:
        result = neon_db.populate(
            df=duplicate_data,
            table_name=table_name,
            schema='test_berlin_data',
            mode='append',
            show_report=False
        )
        
        if result['status'] == 'error' and ('duplicate' in result.get('error', '').lower() or 'unique' in result.get('error', '').lower()):
            print("   âœ… Primary Key working")
        else:
            print("   âŒ Primary Key NOT working")
            
    except Exception as e:
        if 'duplicate' in str(e).lower() or 'unique' in str(e).lower():
            print("   âœ… Primary Key working")
        else:
            print(f"   âš ï¸ Unexpected PK error: {str(e)[:100]}...")
    
    print("\n2ï¸âƒ£ NeonDB Foreign Key Test:")
    
    # Try invalid FK
    invalid_fk_data = pd.DataFrame({
        'bank_id': ['INVALID001'],
        'name': ['Invalid FK Bank'],
        'district_id': ['NONEXISTENT_DISTRICT'],
        'address': ['Invalid Address'],
        'phone': ['+49 30 000000']
    })
    
    try:
        result = neon_db.populate(
            df=invalid_fk_data,
            table_name=table_name,
            schema='test_berlin_data',
            mode='append',
            show_report=False
        )
        
        if result['status'] == 'error' and 'foreign key' in result.get('error', '').lower():
            print("   âœ… Foreign Key working")
        else:
            print("   âŒ Foreign Key NOT working")
            
    except Exception as e:
        if 'foreign key' in str(e).lower() or 'violates' in str(e).lower():
            print("   âœ… Foreign Key working")
        else:
            print(f"   âš ï¸ Unexpected FK error: {str(e)[:100]}...")
else:
    print("âš ï¸ NeonDB not populated, skipping tests")

ğŸ§ª STEP 3: TEST CONSTRAINTS
==============================
1ï¸âƒ£ NeonDB Primary Key Test:
ğŸ“ Inserting 1 rows Ã— 5 columns
   Target: test_berlin_data.smart_banks_test_6802_9949
   Action: append
âŒ Insert operation failed: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "smart_banks_test_6802_9949_pkey"
DETAIL:  Key (bank_id)=(SMART001) already exists.

[SQL: INSERT INTO test_berlin_data.smart_banks_test_6802_9949 (bank_id, name, district_id, address, phone) VALUES (%(bank_id_m0)s, %(name_m0)s, %(district_id_m0)s, %(address_m0)s, %(phone_m0)s)]
[parameters: {'bank_id_m0': 'SMART001', 'name_m0': 'Duplicate Bank', 'district_id_m0': 'Charlottenburg-Wilmersdorf', 'address_m0': 'Duplicate Address', 'phone_m0': '+49 30 999999'}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)
   âœ… Primary Key working

2ï¸âƒ£ NeonDB Foreign Key Test:
ğŸ“ Inserting 1 rows Ã— 5 columns
   Target: test_berlin_data.smart_banks_test_6802_9949
   Action: append
âŒ Insert operation failed: (psycopg2.errors.ForeignKeyViolation) insert or update on table "smart_banks_test_6802_9949" violates foreign key constraint "fk_smart_banks_test_6802_9949_district"
DETAIL:  Key (district_id)=(NONEXISTENT_DISTRICT) is not present in table "districts".

[SQL: INSERT INTO test_berlin_data.smart_banks_test_6802_9949 (bank_id, name, district_id, address, phone) VALUES (%(bank_id_m0)s, %(name_m0)s, %(district_id_m0)s, %(address_m0)s, %(phone_m0)s)]
[parameters: {'bank_id_m0': 'INVALID001', 'name_m0': 'Invalid FK Bank', 'district_id_m0': 'NONEXISTENT_DISTRICT', 'address_m0': 'Invalid Address', 'phone_m0': '+49 30 000000'}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)
   âœ… Foreign Key working

In [11]:
# Test AWS constraints if available
if aws_populated:
    print("\n3ï¸âƒ£ AWS Constraint Tests:")
    
    # Primary Key Test
    print("   Primary Key Test:")
    duplicate_data = pd.DataFrame({
        'bank_id': ['SMART001'],  # Duplicate!
        'name': ['AWS Duplicate'],
        'district_id': [aws_valid_districts[0]],
        'address': ['AWS Duplicate'],
        'phone': ['+49 30 999999']
    })
    
    try:
        result = aws_db.populate(
            df=duplicate_data,
            table_name=table_name,
            schema='berlin_source_data',
            mode='append',
            show_report=False
        )
        
        if result['status'] == 'error' and ('duplicate' in result.get('error', '').lower() or 'unique' in result.get('error', '').lower()):
            print("      âœ… AWS Primary Key working")
        else:
            print("      âŒ AWS Primary Key NOT working")
            
    except Exception as e:
        if 'duplicate' in str(e).lower():
            print("      âœ… AWS Primary Key working")
        else:
            print(f"      âš ï¸ AWS PK error: {str(e)[:80]}...")
    
    # Foreign Key Test
    print("   Foreign Key Test:")
    invalid_fk_data = pd.DataFrame({
        'bank_id': ['AWS_INVALID'],
        'name': ['AWS Invalid FK'],
        'district_id': ['INVALID_AWS_DISTRICT'],
        'address': ['AWS Invalid'],
        'phone': ['+49 30 000000']
    })
    
    try:
        result = aws_db.populate(
            df=invalid_fk_data,
            table_name=table_name,
            schema='berlin_source_data',
            mode='append',
            show_report=False
        )
        
        if result['status'] == 'error' and 'foreign key' in result.get('error', '').lower():
            print("      âœ… AWS Foreign Key working")
        else:
            print("      âŒ AWS Foreign Key NOT working")
            
    except Exception as e:
        if 'foreign key' in str(e).lower():
            print("      âœ… AWS Foreign Key working")
        else:
            print(f"      âš ï¸ AWS FK error: {str(e)[:80]}...")
else:
    print("âš ï¸ AWS not populated, skipping tests")

3ï¸âƒ£ AWS Constraint Tests:
   Primary Key Test:
ğŸ“ Inserting 1 rows Ã— 5 columns
   Target: berlin_source_data.smart_banks_test_6802_9949
   Action: append
âŒ Insert operation failed: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "smart_banks_test_6802_9949_pkey"
DETAIL:  Key (bank_id)=(SMART001) already exists.

[SQL: INSERT INTO berlin_source_data.smart_banks_test_6802_9949 (bank_id, name, district_id, address, phone) VALUES (%(bank_id_m0)s, %(name_m0)s, %(district_id_m0)s, %(address_m0)s, %(phone_m0)s)]
[parameters: {'bank_id_m0': 'SMART001', 'name_m0': 'AWS Duplicate', 'district_id_m0': '11001001', 'address_m0': 'AWS Duplicate', 'phone_m0': '+49 30 999999'}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)
      âœ… AWS Primary Key working
   Foreign Key Test:
ğŸ“ Inserting 1 rows Ã— 5 columns
   Target: berlin_source_data.smart_banks_test_6802_9949
   Action: append
âŒ Insert operation failed: (psycopg2.errors.ForeignKeyViolation) insert or update on table "smart_banks_test_6802_9949" violates foreign key constraint "fk_smart_banks_test_6802_9949_district"
DETAIL:  Key (district_id)=(INVALID_AWS_DISTRICT) is not present in table "districts".

[SQL: INSERT INTO berlin_source_data.smart_banks_test_6802_9949 (bank_id, name, district_id, address, phone) VALUES (%(bank_id_m0)s, %(name_m0)s, %(district_id_m0)s, %(address_m0)s, %(phone_m0)s)]
[parameters: {'bank_id_m0': 'AWS_INVALID', 'name_m0': 'AWS Invalid FK', 'district_id_m0': 'INVALID_AWS_DISTRICT', 'address_m0': 'AWS Invalid', 'phone_m0': '+49 30 000000'}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)
      âœ… AWS Foreign Key working

## STEP 4: Final Verification

Check that constraints are still in place after all operations

In [12]:
# STEP 4: Final verification
print("ğŸ¯ STEP 4: FINAL VERIFICATION")
print("=" * 30)

if neon_populated:
    print("ğŸ“— NeonDB Final Status:")
    
    constraints = neon_db.query(f"""
        SELECT constraint_name, constraint_type 
        FROM information_schema.table_constraints 
        WHERE table_schema = 'test_berlin_data' AND table_name = '{table_name}'
        ORDER BY constraint_type
    """, show_info=False)
    
    print(f"ğŸ”’ Constraints after all operations: {len(constraints)}")
    for _, c in constraints.iterrows():
        print(f"   âœ… {c['constraint_type']}: {c['constraint_name']}")
    
    final_count = neon_db.query(f"SELECT COUNT(*) as count FROM test_berlin_data.{table_name}", show_info=False)
    print(f"ğŸ“Š Final rows: {final_count['count'].iloc[0]}")

if aws_populated:
    print("\nğŸ“˜ AWS Final Status:")
    
    constraints = aws_db.query(f"""
        SELECT constraint_name, constraint_type 
        FROM information_schema.table_constraints 
        WHERE table_schema = 'berlin_source_data' AND table_name = '{table_name}'
        ORDER BY constraint_type
    """, show_info=False)
    
    print(f"ğŸ”’ Constraints after all operations: {len(constraints)}")
    for _, c in constraints.iterrows():
        print(f"   âœ… {c['constraint_type']}: {c['constraint_name']}")
    
    final_count = aws_db.query(f"SELECT COUNT(*) as count FROM berlin_source_data.{table_name}", show_info=False)
    print(f"ğŸ“Š Final rows: {final_count['count'].iloc[0]}")

print("\nğŸ‰ SMART DB CONNECTOR CONSTRAINT TEST COMPLETED!")
print("\nğŸ’¡ Key Findings:")
print("   âœ… Smart DB Connector populate() works with constraints")
print("   âœ… mode='append' preserves table constraints")
print("   âœ… Both Primary Key and Foreign Key constraints tested")
print("   ğŸ’¡ district_id preferred over district for FK references")
print("\nğŸš€ Our Smart DB Connector V3 successfully handles database constraints!")

ğŸ¯ STEP 4: FINAL VERIFICATION
==============================
ğŸ“— NeonDB Final Status:
ğŸ”’ Constraints after all operations: 4
   âœ… CHECK: 204800_1843224_1_not_null
   âœ… CHECK: 204800_1843224_2_not_null
   âœ… FOREIGN KEY: fk_smart_banks_test_6802_9949_district
   âœ… PRIMARY KEY: smart_banks_test_6802_9949_pkey
ğŸ“Š Final rows: 3

ğŸ“˜ AWS Final Status:
ğŸ”’ Constraints after all operations: 4
   âœ… CHECK: 24602_57956_1_not_null
   âœ… CHECK: 24602_57956_2_not_null
   âœ… FOREIGN KEY: fk_smart_banks_test_6802_9949_district
   âœ… PRIMARY KEY: smart_banks_test_6802_9949_pkey
ğŸ“Š Final rows: 3

ğŸ‰ SMART DB CONNECTOR CONSTRAINT TEST COMPLETED!

ğŸ’¡ Key Findings:
   âœ… Smart DB Connector populate() works with constraints
   âœ… mode='append' preserves table constraints
   âœ… Both Primary Key and Foreign Key constraints tested
   ğŸ’¡ district_id preferred over district for FK references

ğŸš€ Our Smart DB Connector V3 successfully handles database constraints!