In [65]:
import psycopg2
import pandas as pd
from sqlalchemy import create_engine, text
import warnings

warnings.filterwarnings("ignore")

In [66]:
# 1. Load your DataFrame
df = pd.read_csv("/Users/sums/Downloads/immowelt_longterm_listings.csv", sep=",")  # comma separator

In [67]:
# 2. Connection settings
user_name = "sumi_dhakal"
password = "0n6vTrvHmQl3gt"
host = "localhost"      # because SSM tunnel forwards here
port = "5433"           
database = "layereddb"
schema = "berlin_source_data"

In [68]:
# Create SQLAlchemy engine
engine = create_engine(
    f"postgresql+psycopg2://{user_name}:{password}@{host}:{port}/{database}")

In [69]:

# Remove duplicate columns (keeps the first occurrence)
df = df.loc[:, ~df.columns.duplicated()]

# Optional: check columns
print(df.columns.tolist())

['detail_url', 'raw_info', 'type', 'first_tenant', 'price_euro', 'number_of_rooms', 'surface_m2', 'floor', 'street', 'house_number', 'neighborhood', 'district', 'postal_code', 'city', 'address', 'latitude', 'longitude', 'geometry', 'district_id', 'listing_id']

In [70]:
df.describe

<bound method NDFrame.describe of                                              detail_url  \
0     https://www.immowelt.de/expose/60a4680b-c666-4...
1     https://www.immowelt.de/expose/48b02494-b932-4...
2     https://www.immowelt.de/expose/fb32adca-5d67-4...
3     https://www.immowelt.de/expose/4985f014-94b9-4...
4     https://www.immowelt.de/expose/2144d17c-ae55-4...
...                                                 ...
1162  https://www.immowelt.de/expose/645c9ad8-9a11-4...
1163  https://www.immowelt.de/expose/055696ce-efd5-4...
1164  https://www.immowelt.de/expose/b099a0db-45f4-4...
1165  https://www.immowelt.de/expose/21fc6a2d-d87a-4...
1166  https://www.immowelt.de/expose/d81a02d9-be37-4...

                                               raw_info     type first_tenant  \
0     Wohnung zur Miete - Erstbezug 1.840 € 2 Zimmer...  Wohnung          yes
1     WG-Zimmer zur Miete Wohnen auf Zeit 1.199 € 20...       WG           no
2     Wohnung zur Miete 2.772 € 4 Zimmer 178 m² frei...  Wohnung           no
3     Studio zur Miete 495 € 2 Zimmer 43,7 m² frei a...   Studio           no
4     Studio zur Miete 1.625 € 2 Zimmer 44 m² EG Gün...   Studio           no
...                                                 ...      ...          ...
1162  Einfamilienhaus zur Miete 3.500 € 7 Zimmer 222...     Haus           no
1163  Einfamilienhaus zur Miete 2.950 € 5 Zimmer 165...     Haus           no
1164  Einfamilienhaus zur Miete 2.350 € 4 Zimmer 169...     Haus           no
1165  Studio zur Miete 2.500 € 4 Zimmer 169 m² Berli...   Studio           no
1166  Wohnung zur Miete - Erstbezug 2.398 € 3 Zimmer...  Wohnung          yes

      price_euro  number_of_rooms  surface_m2  floor             street  \
0           1840              2.0        76.6    6.0      Nehringstraße
1           1199              1.0        20.0    NaN      Leibnizstraße
2           2772              4.0       178.0    NaN  Stallupöner Allee
3            495              2.0        43.7    NaN      Schweiggerweg
4           1625              2.0        44.0    0.0         Güntzelstr
...          ...              ...         ...    ...                ...
1162        3500              7.0       222.0    NaN                NaN
1163        2950              5.0       165.0    NaN                NaN
1164        2350              4.0       169.0    NaN                NaN
1165        2500              4.0       169.0    NaN                NaN
1166        2398              3.0       109.0    NaN                NaN

     house_number         neighborhood                    district  \
0              13       Charlottenburg  Charlottenburg-Wilmersdorf
1             3-4       Charlottenburg  Charlottenburg-Wilmersdorf
2              33              Westend  Charlottenburg-Wilmersdorf
3               5  Charlottenburg-Nord  Charlottenburg-Wilmersdorf
4              32          Wilmersdorf  Charlottenburg-Wilmersdorf
...           ...                  ...                         ...
1162          NaN            Rahnsdorf            Treptow-Köpenick
1163          NaN            Rahnsdorf            Treptow-Köpenick
1164          NaN      Friedrichshagen            Treptow-Köpenick
1165          NaN      Friedrichshagen            Treptow-Köpenick
1166          NaN          Schmöckwitz            Treptow-Köpenick

      postal_code    city                                        address  \
0           14059  Berlin   Nehringstraße 13 14059 Charlottenburg Berlin
1           10625  Berlin  Leibnizstraße 3-4 10625 Charlottenburg Berlin
2           14055  Berlin      Stallupöner Allee 33 14055 Westend Berlin
3           13627  Berlin    Schweiggerweg 5 13627 Charlottenburg Berlin
4           10717  Berlin         Güntzelstr 32 10717 Wilmersdorf Berlin
...           ...     ...                                            ...
1162        12589  Berlin                          12589 Köpenick Berlin
1163        12589  Berlin                          12589 Köpenick Berlin
1164        12587  Berlin                          12587 Köpenick Berlin
1165        12587  Berlin                          12587 Köpenick Berlin
1166        12527  Berlin                            12527 Grünau Berlin

       latitude  longitude                       geometry  district_id  \
0     52.513930  13.294138  POINT (13.2941382 52.5139304)     11004004
1     52.516670  13.283330      POINT (13.28333 52.51667)     11004004
2     52.504417  13.234717    POINT (13.234717 52.504417)     11004004
3     52.538645  13.282277  POINT (13.2822767 52.5386453)     11004004
4     52.492051  13.320604  POINT (13.3206041 52.4920513)     11004004
...         ...        ...                            ...          ...
1162  52.444636  13.708120  POINT (13.7081201 52.4446362)     11009009
1163  52.444636  13.708120  POINT (13.7081201 52.4446362)     11009009
1164  52.457949  13.631182  POINT (13.6311821 52.4579495)     11009009
1165  52.457949  13.631182  POINT (13.6311821 52.4579495)     11009009
1166  52.383290  13.627307  POINT (13.6273073 52.3832901)     11009009

              listing_id
0      WOH_1840_76_14059
1       WG_1199_20_10625
2     WOH_2772_178_14055
3       STU_495_43_13627
4      STU_1625_44_10717
...                  ...
1162  HAU_3500_222_12589
1163  HAU_2950_165_12589
1164  HAU_2350_169_12587
1165  STU_2500_169_12587
1166  WOH_2398_109_12527

[1167 rows x 20 columns]>

In [75]:
# 3. Create target table
create_table_query = f"""
CREATE TABLE IF NOT EXISTS {schema}.long_term_listings(
    listing_id VARCHAR PRIMARY KEY,
    detail_url TEXT,
    raw_info TEXT,
    type VARCHAR,
    first_tenant VARCHAR,
    price_euro INTEGER,
    number_of_rooms FLOAT,
    surface_m2 FLOAT,
    floor FLOAT,
    street VARCHAR,
    house_number VARCHAR,
    neighborhood VARCHAR,
    district VARCHAR,
    postal_code INTEGER,
    city VARCHAR,
    address TEXT,
    latitude FLOAT,
    longitude FLOAT,
    geometry TEXT,
    district_id TEXT,
    CONSTRAINT district_id_fk FOREIGN KEY (district_id)
    REFERENCES berlin_source_data.districts(district_id)
    ON DELETE RESTRICT
    ON UPDATE CASCADE
);
"""

with engine.connect() as conn:
    conn.execute(text(create_table_query))
    conn.commit()

In [76]:
# 4. Upload DataFrame to DB
df.to_sql(
    "long_term_listings",
    engine,
    schema=schema,
    if_exists="append",   # append to existing
    index=False
)

print("✅ Listings uploaded successfully!")

# 5. Test query
query = f"""
SELECT listing_id, price_euro, neighborhood, district
FROM {schema}.long_term_listings
LIMIT 5;
"""

with engine.connect() as conn:
    df_check = pd.read_sql(text(query), conn)

print("Sample rows from DB:")
print(df_check)

✅ Listings uploaded successfully!
Sample rows from DB:
           listing_id  price_euro         neighborhood  \
0   WOH_1840_76_14059        1840       Charlottenburg
1    WG_1199_20_10625        1199       Charlottenburg
2  WOH_2772_178_14055        2772              Westend
3    STU_495_43_13627         495  Charlottenburg-Nord
4   STU_1625_44_10717        1625          Wilmersdorf

                     district
0  Charlottenburg-Wilmersdorf
1  Charlottenburg-Wilmersdorf
2  Charlottenburg-Wilmersdorf
3  Charlottenburg-Wilmersdorf
4  Charlottenburg-Wilmersdorf