In [51]:
#Read the csv file
import pandas as pd
import numpy as np
import psycopg2
from sqlalchemy import create_engine, text
import warnings
warnings.filterwarnings("ignore")
df = pd.read_csv('ibb_planungsraeume.csv')
df_bez=pd.read_csv('ibb_bezirke_cleaned.csv')
df

,district_id,street_name,median_net_rent,number_of_cases,mean_net_rent,year
0,1100101,Stülerstraße,22.81,20,22.33,2024
1,1100102,Großer Tiergarten,21.99,45,21.62,2024
2,1100103,Lützowstraße,21.56,57,21,2024
3,1100104,Körnerstraße,22.96,39,22.68,2024
4,1100205,Wilhelmstraße,24.24,84,23.83,2024
...,...,...,...,...,...,...
7041,12601032,Rollbergesiedlung,4.65,164,4.83,2012
7042,12601133,Treuenbrietzener Straße,5.65,136,5.6,2012
7043,12601134,Märkisches Zentrum,5.42,75,5.54,2012
7044,12601235,Dannenwalder Weg,5.32,137,5.39,2012
7045,12601236,Schorfheidestraße,6,24,5.92,2012

In [52]:
# Created new column called street_id, set a random value
df["street_id"] = 1100103
df

,district_id,street_name,median_net_rent,number_of_cases,mean_net_rent,year,street_id
0,1100101,Stülerstraße,22.81,20,22.33,2024,1100103
1,1100102,Großer Tiergarten,21.99,45,21.62,2024,1100103
2,1100103,Lützowstraße,21.56,57,21,2024,1100103
3,1100104,Körnerstraße,22.96,39,22.68,2024,1100103
4,1100205,Wilhelmstraße,24.24,84,23.83,2024,1100103
...,...,...,...,...,...,...,...
7041,12601032,Rollbergesiedlung,4.65,164,4.83,2012,1100103
7042,12601133,Treuenbrietzener Straße,5.65,136,5.6,2012,1100103
7043,12601134,Märkisches Zentrum,5.42,75,5.54,2012,1100103
7044,12601235,Dannenwalder Weg,5.32,137,5.39,2012,1100103
7045,12601236,Schorfheidestraße,6,24,5.92,2012,1100103

In [53]:
# Take first 2 digits,discarding rest 6 digits
#moving district id to street id and making district id unique
df['street_id'] = df['district_id']
df['district_id'] = df['district_id'].astype(str).str[:-6]
df

,district_id,street_name,median_net_rent,number_of_cases,mean_net_rent,year,street_id
0,1,Stülerstraße,22.81,20,22.33,2024,1100101
1,1,Großer Tiergarten,21.99,45,21.62,2024,1100102
2,1,Lützowstraße,21.56,57,21,2024,1100103
3,1,Körnerstraße,22.96,39,22.68,2024,1100104
4,1,Wilhelmstraße,24.24,84,23.83,2024,1100205
...,...,...,...,...,...,...,...
7041,12,Rollbergesiedlung,4.65,164,4.83,2012,12601032
7042,12,Treuenbrietzener Straße,5.65,136,5.6,2012,12601133
7043,12,Märkisches Zentrum,5.42,75,5.54,2012,12601134
7044,12,Dannenwalder Weg,5.32,137,5.39,2012,12601235
7045,12,Schorfheidestraße,6,24,5.92,2012,12601236

In [54]:
# Converted Object type in to Integer type for joining tables and to match other table columns data type
df['district_id'] = df['district_id'].astype('int64')

In [55]:
#Merging Bezirke subset table into Plannugsraüme table
df_bez_subset = df_bez[["district_id", "neighborhood"]]
df=pd.merge(df,df_bez_subset, on='district_id')
df=df.drop_duplicates()
df

,district_id,street_name,median_net_rent,number_of_cases,mean_net_rent,year,street_id,neighborhood
0,1,Stülerstraße,22.81,20,22.33,2024,1100101,Mitte
13,1,Großer Tiergarten,21.99,45,21.62,2024,1100102,Mitte
26,1,Lützowstraße,21.56,57,21,2024,1100103,Mitte
39,1,Körnerstraße,22.96,39,22.68,2024,1100104,Mitte
52,1,Wilhelmstraße,24.24,84,23.83,2024,1100205,Mitte
...,...,...,...,...,...,...,...,...
91533,12,Rollbergesiedlung,4.65,164,4.83,2012,12601032,Reinickendorf
91546,12,Treuenbrietzener Straße,5.65,136,5.6,2012,12601133,Reinickendorf
91559,12,Märkisches Zentrum,5.42,75,5.54,2012,12601134,Reinickendorf
91572,12,Dannenwalder Weg,5.32,137,5.39,2012,12601235,Reinickendorf
91585,12,Schorfheidestraße,6,24,5.92,2012,12601236,Reinickendorf

In [56]:
# Renaming the column
df.rename(columns={'district_id':'neighborhood_id'}, inplace=True)
df

,neighborhood_id,street_name,median_net_rent,number_of_cases,mean_net_rent,year,street_id,neighborhood
0,1,Stülerstraße,22.81,20,22.33,2024,1100101,Mitte
13,1,Großer Tiergarten,21.99,45,21.62,2024,1100102,Mitte
26,1,Lützowstraße,21.56,57,21,2024,1100103,Mitte
39,1,Körnerstraße,22.96,39,22.68,2024,1100104,Mitte
52,1,Wilhelmstraße,24.24,84,23.83,2024,1100205,Mitte
...,...,...,...,...,...,...,...,...
91533,12,Rollbergesiedlung,4.65,164,4.83,2012,12601032,Reinickendorf
91546,12,Treuenbrietzener Straße,5.65,136,5.6,2012,12601133,Reinickendorf
91559,12,Märkisches Zentrum,5.42,75,5.54,2012,12601134,Reinickendorf
91572,12,Dannenwalder Weg,5.32,137,5.39,2012,12601235,Reinickendorf
91585,12,Schorfheidestraße,6,24,5.92,2012,12601236,Reinickendorf

In [57]:
df["median_net_rent"] = df["median_net_rent"].replace(
    to_replace=r"^\s*keine Daten\s*$", value=np.nan, regex=True
)

In [58]:
df['median_net_rent'] = df['median_net_rent'].astype('float64')

In [59]:
# Replacing "keine Daten" with actual np.nan (not a string)
df[["median_net_rent", "number_of_cases", "mean_net_rent"]] = df[["median_net_rent", "number_of_cases", "mean_net_rent"]].replace({
    "keine Daten": np.nan
})
df

,neighborhood_id,street_name,median_net_rent,number_of_cases,mean_net_rent,year,street_id,neighborhood
0,1,Stülerstraße,22.81,20,22.33,2024,1100101,Mitte
13,1,Großer Tiergarten,21.99,45,21.62,2024,1100102,Mitte
26,1,Lützowstraße,21.56,57,21,2024,1100103,Mitte
39,1,Körnerstraße,22.96,39,22.68,2024,1100104,Mitte
52,1,Wilhelmstraße,24.24,84,23.83,2024,1100205,Mitte
...,...,...,...,...,...,...,...,...
91533,12,Rollbergesiedlung,4.65,164,4.83,2012,12601032,Reinickendorf
91546,12,Treuenbrietzener Straße,5.65,136,5.6,2012,12601133,Reinickendorf
91559,12,Märkisches Zentrum,5.42,75,5.54,2012,12601134,Reinickendorf
91572,12,Dannenwalder Weg,5.32,137,5.39,2012,12601235,Reinickendorf
91585,12,Schorfheidestraße,6.00,24,5.92,2012,12601236,Reinickendorf

In [60]:
df = df.rename(columns={'median_net_rent': 'median_net_rent_per_m2'})
df = df.rename(columns={'mean_net_rent': 'mean_net_rent_per_m2'})

In [61]:
df['number_of_cases'] = df['number_of_cases'].astype('float64')
df['neighborhood'] = df['neighborhood'].astype('string')
df['street_name'] = df['street_name'].astype('string')
df['median_net_rent_per_m2'] = df['median_net_rent_per_m2'].astype('float64')
df['mean_net_rent_per_m2'] = df['mean_net_rent_per_m2'].astype('float64')

In [62]:
#Writing to csv file
 
df

,neighborhood_id,street_name,median_net_rent_per_m2,number_of_cases,mean_net_rent_per_m2,year,street_id,neighborhood
0,1,Stülerstraße,22.81,20.0,22.33,2024,1100101,Mitte
13,1,Großer Tiergarten,21.99,45.0,21.62,2024,1100102,Mitte
26,1,Lützowstraße,21.56,57.0,21.00,2024,1100103,Mitte
39,1,Körnerstraße,22.96,39.0,22.68,2024,1100104,Mitte
52,1,Wilhelmstraße,24.24,84.0,23.83,2024,1100205,Mitte
...,...,...,...,...,...,...,...,...
91533,12,Rollbergesiedlung,4.65,164.0,4.83,2012,12601032,Reinickendorf
91546,12,Treuenbrietzener Straße,5.65,136.0,5.60,2012,12601133,Reinickendorf
91559,12,Märkisches Zentrum,5.42,75.0,5.54,2012,12601134,Reinickendorf
91572,12,Dannenwalder Weg,5.32,137.0,5.39,2012,12601235,Reinickendorf
91585,12,Schorfheidestraße,6.00,24.0,5.92,2012,12601236,Reinickendorf

In [63]:
df.dtypes

neighborhood_id                    int64
street_name               string[python]
median_net_rent_per_m2           float64
number_of_cases                  float64
mean_net_rent_per_m2             float64
year                               int64
street_id                          int64
neighborhood              string[python]
dtype: object

In [64]:
df = df.drop('neighborhood_id', axis=1)

In [65]:
col = 'neighborhood'
df = df[[col] + [c for c in df.columns if c != col]]
df

,neighborhood,street_name,median_net_rent_per_m2,number_of_cases,mean_net_rent_per_m2,year,street_id
0,Mitte,Stülerstraße,22.81,20.0,22.33,2024,1100101
13,Mitte,Großer Tiergarten,21.99,45.0,21.62,2024,1100102
26,Mitte,Lützowstraße,21.56,57.0,21.00,2024,1100103
39,Mitte,Körnerstraße,22.96,39.0,22.68,2024,1100104
52,Mitte,Wilhelmstraße,24.24,84.0,23.83,2024,1100205
...,...,...,...,...,...,...,...
91533,Reinickendorf,Rollbergesiedlung,4.65,164.0,4.83,2012,12601032
91546,Reinickendorf,Treuenbrietzener Straße,5.65,136.0,5.60,2012,12601133
91559,Reinickendorf,Märkisches Zentrum,5.42,75.0,5.54,2012,12601134
91572,Reinickendorf,Dannenwalder Weg,5.32,137.0,5.39,2012,12601235
91585,Reinickendorf,Schorfheidestraße,6.00,24.0,5.92,2012,12601236

In [76]:
# SQLAlchemy connection string format:
# postgresql+psycopg2://user:password@host:port/dbname

DATABASE_URL = (
    "postgresql+psycopg2://neondb_owner:npg_CeS9fJg2azZD"
    "@ep-falling-glitter-a5m0j5gk-pooler.us-east-2.aws.neon.tech:5432/neondb"
    "?sslmode=require"
)

# Create engine and establish connection
engine = create_engine(DATABASE_URL)

In [77]:
with engine.begin() as conn:
    conn.execute(text('DROP TABLE IF EXISTS test_berlin_data.rent_stats_per_street'))

In [78]:
#creating new table
with engine.begin() as conn:
    conn.execute(text('''
    CREATE  TABLE  IF NOT EXISTS  test_berlin_data.rent_stats_per_street(
        neighborhood VARCHAR(100) NOT NULL,
        street_name VARCHAR(100) NOT NULL,
        median_net_rent_per_m2 DECIMAL(5,2),
        number_of_cases INT,
        mean_net_rent_per_m2 DECIMAL(5,2),
        year SMALLINT NOT NULL,
        street_id INT NOT NULL,
        CONSTRAINT neighborhood_fk FOREIGN KEY (neighborhood) REFERENCES test_berlin_data.neighborhood(neighborhood) ON DELETE RESTRICT ON UPDATE CASCADE)
    '''))

In [79]:
conn.commit()

In [80]:
# Populate NeonDB with rent_stats_per_street data

df.to_sql(
    name='rent_stats_per_street',
    con=engine,
    schema='test_berlin_data',
    if_exists='append',
    index=False
)

46