In [22]:
# 1 Read the CSV file
import pandas as pd
import psycopg2
from sqlalchemy import create_engine, text
import warnings
warnings.filterwarnings("ignore")
df = pd.read_csv('ibb_bezirke.csv')
df

,district_id,district_name,median_net_rent,number_of_cases,mean_net_rent,year
0,1,Mitte,19.91,"4,169",19.91,2024
1,2,Friedrichshain-Kreuzberg,19.42,"2,509",19.26,2024
2,3,Pankow,17.00,"3,636",17.65,2024
3,4,Charlottenburg-Wilmersdorf,19.39,"3,036",19.40,2024
4,5,Spandau,12.00,"2,403",13.32,2024
...,...,...,...,...,...,...
152,8,Neukölln,6.79,"4,027",7.02,2012
153,9,Treptow-Köpenick,6.50,"4,883",6.76,2012
154,10,Marzahn-Hellersdorf,5.17,"3,834",5.56,2012
155,11,Lichtenberg,6.50,"2,898",6.65,2012
156,12,Reinickendorf,6.29,"3,988",6.55,2012

In [23]:
# Changing Column name 2
df.rename(columns={'district_name': 'district'},inplace =True)
df

,district_id,district,median_net_rent,number_of_cases,mean_net_rent,year
0,1,Mitte,19.91,"4,169",19.91,2024
1,2,Friedrichshain-Kreuzberg,19.42,"2,509",19.26,2024
2,3,Pankow,17.00,"3,636",17.65,2024
3,4,Charlottenburg-Wilmersdorf,19.39,"3,036",19.40,2024
4,5,Spandau,12.00,"2,403",13.32,2024
...,...,...,...,...,...,...
152,8,Neukölln,6.79,"4,027",7.02,2012
153,9,Treptow-Köpenick,6.50,"4,883",6.76,2012
154,10,Marzahn-Hellersdorf,5.17,"3,834",5.56,2012
155,11,Lichtenberg,6.50,"2,898",6.65,2012
156,12,Reinickendorf,6.29,"3,988",6.55,2012

In [24]:
# Remove commas
df['number_of_cases'] = df['number_of_cases'].str.replace(',', '', regex=False)
df

,district_id,district,median_net_rent,number_of_cases,mean_net_rent,year
0,1,Mitte,19.91,4169,19.91,2024
1,2,Friedrichshain-Kreuzberg,19.42,2509,19.26,2024
2,3,Pankow,17.00,3636,17.65,2024
3,4,Charlottenburg-Wilmersdorf,19.39,3036,19.40,2024
4,5,Spandau,12.00,2403,13.32,2024
...,...,...,...,...,...,...
152,8,Neukölln,6.79,4027,7.02,2012
153,9,Treptow-Köpenick,6.50,4883,6.76,2012
154,10,Marzahn-Hellersdorf,5.17,3834,5.56,2012
155,11,Lichtenberg,6.50,2898,6.65,2012
156,12,Reinickendorf,6.29,3988,6.55,2012

In [25]:
# Converting object type data into numerical type
df['number_of_cases'] = df['number_of_cases'].astype('int32')
df['district'] = df['district'].astype('string')
df

,district_id,district,median_net_rent,number_of_cases,mean_net_rent,year
0,1,Mitte,19.91,4169,19.91,2024
1,2,Friedrichshain-Kreuzberg,19.42,2509,19.26,2024
2,3,Pankow,17.00,3636,17.65,2024
3,4,Charlottenburg-Wilmersdorf,19.39,3036,19.40,2024
4,5,Spandau,12.00,2403,13.32,2024
...,...,...,...,...,...,...
152,8,Neukölln,6.79,4027,7.02,2012
153,9,Treptow-Köpenick,6.50,4883,6.76,2012
154,10,Marzahn-Hellersdorf,5.17,3834,5.56,2012
155,11,Lichtenberg,6.50,2898,6.65,2012
156,12,Reinickendorf,6.29,3988,6.55,2012

In [26]:
df = df.rename(columns={'median_net_rent': 'median_net_rent_per_m2'})
df = df.rename(columns={'mean_net_rent': 'mean_net_rent_per_m2'})

In [27]:
df.to_csv('ibb_bezirke_cleaned_temp.csv', index=False)
df

,district_id,district,median_net_rent_per_m2,number_of_cases,mean_net_rent_per_m2,year
0,1,Mitte,19.91,4169,19.91,2024
1,2,Friedrichshain-Kreuzberg,19.42,2509,19.26,2024
2,3,Pankow,17.00,3636,17.65,2024
3,4,Charlottenburg-Wilmersdorf,19.39,3036,19.40,2024
4,5,Spandau,12.00,2403,13.32,2024
...,...,...,...,...,...,...
152,8,Neukölln,6.79,4027,7.02,2012
153,9,Treptow-Köpenick,6.50,4883,6.76,2012
154,10,Marzahn-Hellersdorf,5.17,3834,5.56,2012
155,11,Lichtenberg,6.50,2898,6.65,2012
156,12,Reinickendorf,6.29,3988,6.55,2012

In [28]:
district_id_map = {
    'Mitte': '01',
    'Friedrichshain-Kreuzberg': '02',
    'Pankow': '03',
    'Charlottenburg-Wilmersdorf': '04',
    'Spandau': '05',
    'Steglitz-Zehlendorf': '06',
    'Tempelhof-Schöneberg': '07',
    'Neukölln': '08',
    'Treptow-Köpenick': '09',
    'Marzahn-Hellersdorf': '10',
    'Lichtenberg': '11',
    'Reinickendorf': '12'
}
df['district_id'] = df['district'].map(district_id_map)
df

,district_id,district,median_net_rent_per_m2,number_of_cases,mean_net_rent_per_m2,year
0,01,Mitte,19.91,4169,19.91,2024
1,02,Friedrichshain-Kreuzberg,19.42,2509,19.26,2024
2,03,Pankow,17.00,3636,17.65,2024
3,04,Charlottenburg-Wilmersdorf,19.39,3036,19.40,2024
4,05,Spandau,12.00,2403,13.32,2024
...,...,...,...,...,...,...
152,08,Neukölln,6.79,4027,7.02,2012
153,09,Treptow-Köpenick,6.50,4883,6.76,2012
154,10,Marzahn-Hellersdorf,5.17,3834,5.56,2012
155,11,Lichtenberg,6.50,2898,6.65,2012
156,12,Reinickendorf,6.29,3988,6.55,2012

In [29]:
#df = df.drop('district_id', axis=1)

In [30]:
df = df[df['district'] != 'Berlin']
df

,district_id,district,median_net_rent_per_m2,number_of_cases,mean_net_rent_per_m2,year
0,01,Mitte,19.91,4169,19.91,2024
1,02,Friedrichshain-Kreuzberg,19.42,2509,19.26,2024
2,03,Pankow,17.00,3636,17.65,2024
3,04,Charlottenburg-Wilmersdorf,19.39,3036,19.40,2024
4,05,Spandau,12.00,2403,13.32,2024
...,...,...,...,...,...,...
152,08,Neukölln,6.79,4027,7.02,2012
153,09,Treptow-Köpenick,6.50,4883,6.76,2012
154,10,Marzahn-Hellersdorf,5.17,3834,5.56,2012
155,11,Lichtenberg,6.50,2898,6.65,2012
156,12,Reinickendorf,6.29,3988,6.55,2012

In [31]:
df.to_csv('ibb_bezirke_cleaned.csv', index=False)
df

,district_id,district,median_net_rent_per_m2,number_of_cases,mean_net_rent_per_m2,year
0,01,Mitte,19.91,4169,19.91,2024
1,02,Friedrichshain-Kreuzberg,19.42,2509,19.26,2024
2,03,Pankow,17.00,3636,17.65,2024
3,04,Charlottenburg-Wilmersdorf,19.39,3036,19.40,2024
4,05,Spandau,12.00,2403,13.32,2024
...,...,...,...,...,...,...
152,08,Neukölln,6.79,4027,7.02,2012
153,09,Treptow-Köpenick,6.50,4883,6.76,2012
154,10,Marzahn-Hellersdorf,5.17,3834,5.56,2012
155,11,Lichtenberg,6.50,2898,6.65,2012
156,12,Reinickendorf,6.29,3988,6.55,2012

In [32]:
# SQLAlchemy connection string format:
# postgresql+psycopg2://user:password@host:port/dbname

DATABASE_URL = (
    "postgresql+psycopg2://postgres:b319nnlsekSOfIiVDpRC"
    "@layered-data-warehouse.cdg2ok68acsn.eu-central-1.rds.amazonaws.com:5432/berlin_project_db"
    "?sslmode=require"
)

# Create engine and establish connection
engine = create_engine(DATABASE_URL)

In [ ]:
with engine.begin() as conn:
    conn.execute(text('DROP TABLE IF EXISTS berlin_data.rent_stats_per_neighborhood'))

In [33]:
with engine.begin() as conn:
    conn.execute(text('''
    CREATE  TABLE  IF NOT EXISTS  berlin_data.rent_stats_per_neighborhood(
        districts VARCHAR(32) NOT NULL,
        median_net_rent_per_m2 DECIMAL(5,2) NOT NULL,
        number_of_cases INT NOT NULL,
        mean_net_rent_per_m2 DECIMAL(5,2) NOT NULL,
        year SMALLINT NOT NULL,
        CONSTRAINT district_id_fk FOREIGN KEY (district_id) REFERENCES berlin_data.districts(district_id) ON DELETE RESTRICT ON UPDATE CASCADE)'''))

OperationalError: (psycopg2.OperationalError) connection to server at "layered-data-warehouse.cdg2ok68acsn.eu-central-1.rds.amazonaws.com" (18.159.218.74), port 5432 failed: Connection timed out (0x0000274C/10060)
	Is the server running on that host and accepting TCP/IP connections?

(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [ ]:
conn.commit()

In [ ]:
# Populate NeonDB with rent_stats_per_neighborhood data

df.to_sql(
    name='rent_stats_per_neighborhood',
    con=engine,
    schema='berlin_data',
    if_exists='append',
    index=False
)