## üõ† Step 2: Data Transformation

### Public Parks (Gr√ºnenanlage) Berlin

In [19]:
import pandas as pd
import numpy as np
from geopy.geocoders import Nominatim
from time import sleep
import psycopg2
from sqlalchemy import create_engine, text
import re
import warnings
warnings.filterwarnings("ignore")

In [4]:
# Load your CSV
df = pd.read_csv("../sources/public_parks.csv", sep=';')

In [5]:
df.head()

,Technischer Schl√ºssel,Schl√ºssel,Objektnummer,Bezirk,Ortsteil,Art der Gr√ºnanlage,Name der Gr√ºnanlage,Namenszusatz der Gr√ºnanlage,Baujahr,letztes Sanierungsjahr,Gr√∂√üe in m¬≤ (Kataster),Widmung,Nummer des Planungsraumes,Name des Planungsraumes
0,00008100_001042bb,00008100:001042bb,00037,Reinickendorf,Frohnau,Gr√ºnanlage,"Im Fischgrund, ""Rosenanger""",Rosenanger,-,-,"16991,50",gewidmet,12400721,Frohnau Ost
1,00008100_00104621,00008100:00104621,01179,Reinickendorf,L√ºbars,Gr√ºnanlage,Kl√∂tzbecken bis Zabel-Kr√ºger-Damm,einschl. Kl√∂tzbecken,-,-,"52224,60",gewidmet,12500929,L√ºbars
2,00008100_001044bd,00008100:001044bd,01074,Reinickendorf,Hermsdorf,Gr√ºnanlage,"Heidenheimer Str. (ab Friedrichsthaler Weg), W...",-,-,-,"3012,00",gewidmet,12400722,Hermsdorf West
3,00008100_00104620,00008100:00104620,01180,Reinickendorf,L√ºbars,Gr√ºnanlage,"Wittenauer Str., s√ºdl. AEG-Siedlung",-,-,-,"3374,20",gewidmet,12500929,L√ºbars
4,00008100_00104438,00008100:00104438,00476,Reinickendorf,Reinickendorf,Gr√ºnanlage,Kuhnpromenade u. Lindauer Allee 59/61,-,-,-,"3122,00",gewidmet,12100206,Humboldtstra√üe

In [6]:
df.columns

Index(['Technischer Schl√ºssel', 'Schl√ºssel', 'Objektnummer', 'Bezirk',
       'Ortsteil', 'Art der Gr√ºnanlage', 'Name der Gr√ºnanlage',
       'Namenszusatz der Gr√ºnanlage', 'Baujahr', 'letztes Sanierungsjahr',
       'Gr√∂√üe in m¬≤ (Kataster)', 'Widmung', 'Nummer des Planungsraumes',
       'Name des Planungsraumes'],
      dtype='object')

### Rename the Columns

In [7]:
df.rename(columns={
    'Technischer Schl√ºssel': 'Technical ID',
    'Schl√ºssel': 'Key',
    'Objektnummer': 'Object Number',
    'Bezirk': 'neighborhood',
    'Ortsteil': 'Locality',
    'Art der Gr√ºnanlage': 'Type of Green Space',
    'Name der Gr√ºnanlage': 'Green Space Name',
    'Namenszusatz der Gr√ºnanlage': 'Name Extension',
    'Baujahr': 'Year Built',
    'letztes Sanierungsjahr': 'Last Renovation Year',
    'Gr√∂√üe in m¬≤ (Kataster)': 'Size sqm',
    'Widmung': 'Dedication',
    'Nummer des Planungsraumes': 'Planning Area Number',
    'Name des Planungsraumes': 'Planning Area Name'
}, inplace=True)

In [8]:
df.columns

Index(['Technical ID', 'Key', 'Object Number', 'neighborhood', 'Locality',
       'Type of Green Space', 'Green Space Name', 'Name Extension',
       'Year Built', 'Last Renovation Year', 'Size sqm', 'Dedication',
       'Planning Area Number', 'Planning Area Name'],
      dtype='object')

### Change column names to snake_case

In [9]:
def to_snake_case(col):
    col = col.strip()  # remove leading/trailing whitespace
    col = re.sub(r'[\s\-]+', '_', col)  # replace spaces and hyphens with underscores
    col = re.sub(r'([a-z])([A-Z])', r'\1_\2', col)  # add underscore between camelCase words
    col = col.lower()
    return col

In [10]:
df.columns = [to_snake_case(col) for col in df.columns]

In [11]:
df.columns

Index(['technical_id', 'key', 'object_number', 'neighborhood', 'locality',
       'type_of_green_space', 'green_space_name', 'name_extension',
       'year_built', 'last_renovation_year', 'size_sqm', 'dedication',
       'planning_area_number', 'planning_area_name'],
      dtype='object')

### Check for null values

In [12]:
print(df.isnull().sum())

technical_id            0
key                     0
object_number           0
neighborhood            0
locality                0
type_of_green_space     0
green_space_name        0
name_extension          0
year_built              0
last_renovation_year    0
size_sqm                0
dedication              0
planning_area_number    0
planning_area_name      0
dtype: int64

### Change the DataType of the columns for analysis

In [13]:
df.head(5)

,technical_id,key,object_number,neighborhood,locality,type_of_green_space,green_space_name,name_extension,year_built,last_renovation_year,size_sqm,dedication,planning_area_number,planning_area_name
0,00008100_001042bb,00008100:001042bb,00037,Reinickendorf,Frohnau,Gr√ºnanlage,"Im Fischgrund, ""Rosenanger""",Rosenanger,-,-,"16991,50",gewidmet,12400721,Frohnau Ost
1,00008100_00104621,00008100:00104621,01179,Reinickendorf,L√ºbars,Gr√ºnanlage,Kl√∂tzbecken bis Zabel-Kr√ºger-Damm,einschl. Kl√∂tzbecken,-,-,"52224,60",gewidmet,12500929,L√ºbars
2,00008100_001044bd,00008100:001044bd,01074,Reinickendorf,Hermsdorf,Gr√ºnanlage,"Heidenheimer Str. (ab Friedrichsthaler Weg), W...",-,-,-,"3012,00",gewidmet,12400722,Hermsdorf West
3,00008100_00104620,00008100:00104620,01180,Reinickendorf,L√ºbars,Gr√ºnanlage,"Wittenauer Str., s√ºdl. AEG-Siedlung",-,-,-,"3374,20",gewidmet,12500929,L√ºbars
4,00008100_00104438,00008100:00104438,00476,Reinickendorf,Reinickendorf,Gr√ºnanlage,Kuhnpromenade u. Lindauer Allee 59/61,-,-,-,"3122,00",gewidmet,12100206,Humboldtstra√üe

In [14]:
# Replace "-" with NaN
df["size_sqm"] = df["size_sqm"].replace("-", np.nan)

# Convert to string for cleaning, then back to float
df["size_sqm"] = df["size_sqm"].astype(str) \
    .str.replace(".", "", regex=False) \
    .str.replace(",", ".", regex=False)

# Replace "nan" string with actual NaN and convert to float
df["size_sqm"] = df["size_sqm"].replace("nan", np.nan).astype(float)

# Convert year columns to numeric (invalid entries like "-" will become NaN)
df["year_built"] = pd.to_numeric(df["year_built"], errors="coerce")
df["last_renovation_year"] = pd.to_numeric(df["last_renovation_year"], errors="coerce")

# Convert planning area number to numeric (if needed)
df["planning_area_number"] = pd.to_numeric(df["planning_area_number"], errors="coerce")

# Replace "-" with NaN in name_extension
df["name_extension"] = df["name_extension"].replace("-", np.nan)

# Convert selected text columns to category type to reduce memory usage
cat_columns = [
    "neighborhood", "locality", "type_of_green_space",
    "green_space_name", "name_extension", "dedication"
]
df[cat_columns] = df[cat_columns].astype('category')

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2556 entries, 0 to 2555
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   technical_id          2556 non-null   object
 1   key                   2556 non-null   object
 2   object_number         2556 non-null   object
 3   neighborhood          2556 non-null   category
 4   locality              2556 non-null   category
 5   type_of_green_space   2556 non-null   category
 6   green_space_name      2556 non-null   category
 7   name_extension        1411 non-null   category
 8   year_built            362 non-null    float64
 9   last_renovation_year  167 non-null    float64
 10  size_sqm              2553 non-null   float64
 11  dedication            2556 non-null   category
 12  planning_area_number  2555 non-null   float64
 13  planning_area_name    2556 non-null   object
dtypes: category(6), float64(4), object(4)
memory usage: 310.4+ KB

### Handle Missing Values after change the datatype

In [16]:
df.isna().sum()

technical_id               0
key                        0
object_number              0
neighborhood               0
locality                   0
type_of_green_space        0
green_space_name           0
name_extension          1145
year_built              2194
last_renovation_year    2389
size_sqm                   3
dedication                 0
planning_area_number       1
planning_area_name         0
dtype: int64

* Fill missing values (imputation) For numeric columns:

In [17]:
df["size_sqm"] = df["size_sqm"].fillna(df["size_sqm"].median())
df["planning_area_number"] = df["planning_area_number"].fillna(df["planning_area_number"].median())

In [18]:
df.isna().sum()

technical_id               0
key                        0
object_number              0
neighborhood               0
locality                   0
type_of_green_space        0
green_space_name           0
name_extension          1145
year_built              2194
last_renovation_year    2389
size_sqm                   0
dedication                 0
planning_area_number       0
planning_area_name         0
dtype: int64

In [19]:
print(df['year_built'].min())
print(df['year_built'].max())
print(df['year_built'].isna().sum())

1229.0
2024.0
2194

In [20]:
print(df['last_renovation_year'].min())
print(df['last_renovation_year'].max())
print(df['last_renovation_year'].isna().sum())

1922.0
2024.0
2389

### Create Address1 Column with Green Space Name

In [21]:
df['address1'] = (
    df['green_space_name'].astype(str) + ", Berlin, Germany" #change the datatype before apply the geocoding
)

df.head()

,technical_id,key,object_number,neighborhood,locality,type_of_green_space,green_space_name,name_extension,year_built,last_renovation_year,size_sqm,dedication,planning_area_number,planning_area_name,address1
0,00008100_001042bb,00008100:001042bb,00037,Reinickendorf,Frohnau,Gr√ºnanlage,"Im Fischgrund, ""Rosenanger""",Rosenanger,NaN,NaN,16991.5,gewidmet,12400721.0,Frohnau Ost,"Im Fischgrund, ""Rosenanger"", Berlin, Germany"
1,00008100_00104621,00008100:00104621,01179,Reinickendorf,L√ºbars,Gr√ºnanlage,Kl√∂tzbecken bis Zabel-Kr√ºger-Damm,einschl. Kl√∂tzbecken,NaN,NaN,52224.6,gewidmet,12500929.0,L√ºbars,"Kl√∂tzbecken bis Zabel-Kr√ºger-Damm, Berlin, Ger..."
2,00008100_001044bd,00008100:001044bd,01074,Reinickendorf,Hermsdorf,Gr√ºnanlage,"Heidenheimer Str. (ab Friedrichsthaler Weg), W...",NaN,NaN,NaN,3012.0,gewidmet,12400722.0,Hermsdorf West,"Heidenheimer Str. (ab Friedrichsthaler Weg), W..."
3,00008100_00104620,00008100:00104620,01180,Reinickendorf,L√ºbars,Gr√ºnanlage,"Wittenauer Str., s√ºdl. AEG-Siedlung",NaN,NaN,NaN,3374.2,gewidmet,12500929.0,L√ºbars,"Wittenauer Str., s√ºdl. AEG-Siedlung, Berlin, G..."
4,00008100_00104438,00008100:00104438,00476,Reinickendorf,Reinickendorf,Gr√ºnanlage,Kuhnpromenade u. Lindauer Allee 59/61,NaN,NaN,NaN,3122.0,gewidmet,12100206.0,Humboldtstra√üe,"Kuhnpromenade u. Lindauer Allee 59/61, Berlin,..."

## Lets look for duplicates

### Check if parks with the same name exist in different locations:

In [22]:
# Group by park name and check if it appears in more than one neighborhood or locality
duplicates_check = df.groupby("green_space_name").agg({
    "neighborhood": pd.Series.nunique,
    "locality": pd.Series.nunique,
    "object_number": "count"
}).reset_index()

# Filter only those parks that appear in more than one neighborhood or locality
potential_duplicates = duplicates_check[
    (duplicates_check["neighborhood"] > 1) | (duplicates_check["locality"] > 1)
]

# Display potentially duplicated parks
print(potential_duplicates)

                        green_space_name  neighborhood  locality  \
1328                        Leopoldplatz             2         2
1768                         Rathauspark             2         2
2077  Spreeuferpromenade Holsteiner Ufer             1         2
2527              √ñffentliche Gr√ºnanlage             1         2

      object_number
1328              2
1768              2
2077              2
2527              2

### Visualize duplicates based only on name

In [23]:
# Show all entries where the park name is duplicated (for manual inspection)
df[df.duplicated(subset=["green_space_name"], keep=False)].sort_values("green_space_name")

,technical_id,key,object_number,neighborhood,locality,type_of_green_space,green_space_name,name_extension,year_built,last_renovation_year,size_sqm,dedication,planning_area_number,planning_area_name,address1
2324,00008100_0030314c,00008100:0030314c,110231,Treptow-K√∂penick,Friedrichshagen,Gr√ºnanlage,Am Neuhagener M√ºhlenflie√ü Fr GA,LSG von Landesgrenze bis Br√ºcke Hauptweg KGA W...,NaN,NaN,9455.0,-,9501736.0,Hirschgarten,"Am Neuhagener M√ºhlenflie√ü Fr GA, Berlin, Germany"
2294,00008100_003031db,00008100:003031db,110241,Treptow-K√∂penick,Friedrichshagen,Gr√ºnanlage,Am Neuhagener M√ºhlenflie√ü Fr GA,LSG von Br√ºcke Hauptweg KGA Wiesengrund bis Br...,NaN,NaN,5520.0,-,9501736.0,Hirschgarten,"Am Neuhagener M√ºhlenflie√ü Fr GA, Berlin, Germany"
2499,00008100_0035ab9e,00008100:0035ab9e,211420,Mitte,Moabit,Gr√ºnanlage,D√∂beritzer Gr√ºnzug S√ºd,zw. Lehrter Str. Stichstr. und Minna-Cauer-Str.,NaN,NaN,3183.0,gewidmet,1200624.0,Heidestra√üe,"D√∂beritzer Gr√ºnzug S√ºd, Berlin, Germany"
493,00008100_0014b9f1,00008100:0014b9f1,211430,Mitte,Moabit,Gr√ºnanlage,D√∂beritzer Gr√ºnzug S√ºd,zw. D√∂beritzer Verbindung und Minna.Cauer-Str.,NaN,NaN,35724.0,in Widmung,1200624.0,Heidestra√üe,"D√∂beritzer Gr√ºnzug S√ºd, Berlin, Germany"
2270,00008100_003031f6,00008100:003031f6,110261,Treptow-K√∂penick,Friedrichshagen,Gr√ºnanlage,Erpetal/ Neuhagener M√ºhlenflie√ü Fr GA,s√ºdlich von KGA Am Kurpark,NaN,NaN,153.0,gewidmet,9501736.0,Hirschgarten,"Erpetal/ Neuhagener M√ºhlenflie√ü Fr GA, Berlin,..."
2308,00008100_003031ee,00008100:003031ee,110251,Treptow-K√∂penick,Friedrichshagen,Gr√ºnanlage,Erpetal/ Neuhagener M√ºhlenflie√ü Fr GA,LSG von Br√ºcke KGA Am Kurpark bis Hinter dem K...,NaN,NaN,11026.0,-,9501736.0,Hirschgarten,"Erpetal/ Neuhagener M√ºhlenflie√ü Fr GA, Berlin,..."
1958,00008100_0024345c,00008100:0024345c,213051,Mitte,Moabit,Gr√ºnanlage,Fritz-Schlo√ü-Park,"Minigolfanlage (PO 213010, BG 200)",NaN,NaN,2454.0,gewidmet,1200623.0,Stephankiez,"Fritz-Schlo√ü-Park, Berlin, Germany"
1944,00008100_0014bc3b,00008100:0014bc3b,213010,Mitte,Moabit,Gr√ºnanlage,Fritz-Schlo√ü-Park,NaN,NaN,NaN,102608.0,gewidmet,1200623.0,Stephankiez,"Fritz-Schlo√ü-Park, Berlin, Germany"
1897,00008100_0014ba6b,00008100:0014ba6b,339920,Mitte,Wedding,Gr√ºnanlage,Goethepark,Parkteil AK 3,1929.0,NaN,21162.0,gewidmet,1400938.0,Kameruner Stra√üe,"Goethepark, Berlin, Germany"
1988,00008100_0014b9b3,00008100:0014b9b3,339910,Mitte,Wedding,Gr√ºnanlage,Goethepark,Parkteil AK 2,NaN,NaN,72938.0,gewidmet,1400938.0,Kameruner Stra√üe,"Goethepark, Berlin, Germany"
616,00008100_002819c7,00008100:002819c7,R05-26004,Marzahn-Hellersdorf,Marzahn,Gr√ºnanlage,Kienberg/Wuhletal,NaN,NaN,2016.0,139228.0,gewidmet,10100316.0,Landsberger Tor,"Kienberg/Wuhletal, Berlin, Germany"
2225,00008100_002e6f29,00008100:002e6f29,PO-27122,Marzahn-Hellersdorf,Marzahn,Gr√ºnanlage,Kienberg/Wuhletal,15 Erg√§nzung,NaN,NaN,3810.0,gewidmet,10100316.0,Landsberger Tor,"Kienberg/Wuhletal, Berlin, Germany"
1956,00008100_002737a8,00008100:002737a8,213780,Mitte,Moabit,Gr√ºnanlage,Kleiner Tiergarten - Ottopark,Pachtfl√§che Imbiss,NaN,NaN,48.4,gewidmet,1200521.0,Zwinglistra√üe,"Kleiner Tiergarten - Ottopark, Berlin, Germany"
1942,00008100_0014bbf2,00008100:0014bbf2,213710,Mitte,Moabit,Gr√ºnanlage,Kleiner Tiergarten - Ottopark,Ottoplatz,NaN,NaN,12680.0,gewidmet,1200521.0,Zwinglistra√üe,"Kleiner Tiergarten - Ottopark, Berlin, Germany"
1014,00008100_0012d9c8,00008100:0012d9c8,00192,Tempelhof-Sch√∂neberg,Lichtenrade,Gr√ºnanlage,Leopoldplatz,NaN,NaN,NaN,5323.0,gewidmet,7601547.0,Horstwalder Stra√üe,"Leopoldplatz, Berlin, Germany"
1875,00008100_0014b82a,00008100:0014b82a,324010,Mitte,Wedding,Gr√ºnanlage,Leopoldplatz,NaN,NaN,NaN,23496.0,gewidmet,1401048.0,Leopoldplatz,"Leopoldplatz, Berlin, Germany"
2552,00008100_0014bf15,00008100:0014bf15,340910,Mitte,Wedding,Gr√ºnanlage,Nauener Platz,Reinickendorfer Str. 55 / 56 Teil 1; 30475,NaN,NaN,2449.0,gewidmet,1401049.0,Schulstra√üe,"Nauener Platz, Berlin, Germany"
524,00008100_002d4f23,00008100:002d4f23,340960,Mitte,Wedding,Gr√ºnanlage,Nauener Platz,Baustelleneinrichtung auf Spielplatz und Gr√ºna...,NaN,NaN,1432.0,gewidmet,1401049.0,Schulstra√üe,"Nauener Platz, Berlin, Germany"
513,00008100_002d4f22,00008100:002d4f22,340950,Mitte,Wedding,Gr√ºnanlage,Nauener Platz,Baustelleneinrichtung S√ºd auf Gr√ºnanlage,NaN,NaN,654.0,gewidmet,1401049.0,Schulstra√üe,"Nauener Platz, Berlin, Germany"
2511,00008100_002a1a6b,00008100:002a1a6b,163821,Mitte,Mitte,Gr√ºnanlage,Park an der S√ºdpanke,n√∂rdlich Ida-von-Arnim-Str,NaN,NaN,4189.0,gewidmet,1100308.0,Charit√©viertel,"Park an der S√ºdpanke, Berlin, Germany"
1980,00008100_0014b9dc,00008100:0014b9dc,163810,Mitte,Mitte,Gr√ºnanlage,Park an der S√ºdpanke,NaN,NaN,NaN,22033.0,gewidmet,1100308.0,Charit√©viertel,"Park an der S√ºdpanke, Berlin, Germany"
1982,00008100_0014baa1,00008100:0014baa1,244020,Mitte,Tiergarten,Gr√ºnanlage,Platz der Republik,Skulpturenwiese / Symposium,NaN,NaN,40202.0,gewidmet,1100102.0,Gro√üer Tiergarten,"Platz der Republik, Berlin, Germany"
1957,00008100_0014bc84,00008100:0014bc84,244010,Mitte,Tiergarten,Gr√ºnanlage,Platz der Republik,Reichstagsvorplatz,NaN,NaN,42263.0,gewidmet,1100102.0,Gro√üer Tiergarten,"Platz der Republik, Berlin, Germany"
416,00008100_001c96b4,00008100:001c96b4,21GA05,Lichtenberg,Lichtenberg,Gr√ºnanlage,Rathauspark,Premium-Anlage,NaN,2022.0,16301.0,gewidmet,11300722.0,Rathaus Lichtenberg,"Rathauspark, Berlin, Germany"
103,00008100_0010410b,00008100:0010410b,01009,Reinickendorf,Wittenau,Gr√ºnanlage,Rathauspark,NaN,NaN,NaN,17732.4,gewidmet,12500927.0,Wittenau Nord,"Rathauspark, Berlin, Germany"
1960,00008100_002737ac,00008100:002737ac,345001,Mitte,Wedding,Gr√ºnanlage,Schillerpark,Pachtfl√§che Cafe Dubliner Stra√üe,NaN,NaN,165.9,gewidmet,1400940.0,Schillerpark,"Schillerpark, Berlin, Germany"
1984,00008100_0014b850,00008100:0014b850,345010,Mitte,Wedding,Gr√ºnanlage,Schillerpark,Volkspark (Pk 2),1913.0,NaN,284830.0,gewidmet,1400940.0,Schillerpark,"Schillerpark, Berlin, Germany"
1941,00008100_002adb79,00008100:002adb79,319140,Mitte,Wedding,Gr√ºnanlage,Sellerpark,Uferstreifen WSA mit Nutzungsvereinbarung 138,NaN,NaN,293.0,-,1300836.0,Humboldthain Nordwest,"Sellerpark, Berlin, Germany"
1818,00008100_0014b840,00008100:0014b840,319110,Mitte,Wedding,Gr√ºnanlage,Sellerpark,Sellerstr. am Nordhafen,NaN,NaN,8495.0,gewidmet,1300836.0,Humboldthain Nordwest,"Sellerpark, Berlin, Germany"
322,00008100_0014b9cb,00008100:0014b9cb,204030,Mitte,Moabit,Gr√ºnanlage,Siemensstr. 27,B√ºrgergarten im Moabiter Stadtgarten,2012.0,NaN,1050.0,gewidmet,1200517.0,Huttenkiez,"Siemensstr. 27, Berlin, Germany"
2505,00008100_0014b9ce,00008100:0014b9ce,204010,Mitte,Moabit,Gr√ºnanlage,Siemensstr. 27,Moabiter Stadtgarten / Park,2012.0,NaN,8966.0,gewidmet,1200517.0,Huttenkiez,"Siemensstr. 27, Berlin, Germany"
1858,00008100_0014b875,00008100:0014b875,223910,Mitte,Hansaviertel,Gr√ºnanlage,Spreeuferpromenade Holsteiner Ufer,zw. Moabiter Br√ºcke und Lessingbr√ºcke,NaN,NaN,3105.0,gewidmet,1200629.0,Hansaviertel,"Spreeuferpromenade Holsteiner Ufer, Berlin, Ge..."
1843,00008100_0014bc1b,00008100:0014bc1b,257500,Mitte,Moabit,Gr√ºnanlage,Spreeuferpromenade Holsteiner Ufer,zw. Gericke-Steg und Moabiter Br√ºcke und am S-...,NaN,NaN,1175.0,gewidmet,1200629.0,Hansaviertel,"Spreeuferpromenade Holsteiner Ufer, Berlin, Ge..."
1864,00008100_002923e1,00008100:002923e1,123820,Mitte,Mitte,Gr√ºnanlage,Volkspark am Weinbergsweg,Nordwestteil Brunnenstr./Veteranenberg,1958.0,NaN,25455.0,gewidmet,1100416.0,Arkonaplatz,"Volkspark am Weinbergsweg, Berlin, Germany"
1972,00008100_0014bd27,00008100:0014bd27,123810,Mitte,Mitte,Gr√ºnanlage,Volkspark am Weinbergsweg,Ostteil am Weinbergsweg,1958.0,NaN,8916.0,gewidmet,1100416.0,Arkonaplatz,"Volkspark am Weinbergsweg, Berlin, Germany"
2189,00008100_00199732,00008100:00199732,2300572,Marzahn-Hellersdorf,Mahlsdorf,Gr√ºnanlage,√ñffentliche Gr√ºnanlage,Gielsdorfer /Dirschauer Str.,NaN,NaN,650.0,gewidmet,10400939.0,Alt-Mahlsdorf,"√ñffentliche Gr√ºnanlage, Berlin, Germany"
2221,00008100_002c8983,00008100:002c8983,R07-26681,Marzahn-Hellersdorf,Hellersdorf,Gr√ºnanlage,√ñffentliche Gr√ºnanlage,Teterower Ring (168),NaN,NaN,4093.0,k√ºnftige Widmung,10200629.0,Teterower Ring,"√ñffentliche Gr√ºnanlage, Berlin, Germany"

### Drop duplicates

In [24]:
df_cleaned = df.drop_duplicates(subset=[
    "green_space_name",
    "neighborhood",
    "locality",
    "object_number"
])

In [25]:
df_cleaned.head(5)

,technical_id,key,object_number,neighborhood,locality,type_of_green_space,green_space_name,name_extension,year_built,last_renovation_year,size_sqm,dedication,planning_area_number,planning_area_name,address1
0,00008100_001042bb,00008100:001042bb,00037,Reinickendorf,Frohnau,Gr√ºnanlage,"Im Fischgrund, ""Rosenanger""",Rosenanger,NaN,NaN,16991.5,gewidmet,12400721.0,Frohnau Ost,"Im Fischgrund, ""Rosenanger"", Berlin, Germany"
1,00008100_00104621,00008100:00104621,01179,Reinickendorf,L√ºbars,Gr√ºnanlage,Kl√∂tzbecken bis Zabel-Kr√ºger-Damm,einschl. Kl√∂tzbecken,NaN,NaN,52224.6,gewidmet,12500929.0,L√ºbars,"Kl√∂tzbecken bis Zabel-Kr√ºger-Damm, Berlin, Ger..."
2,00008100_001044bd,00008100:001044bd,01074,Reinickendorf,Hermsdorf,Gr√ºnanlage,"Heidenheimer Str. (ab Friedrichsthaler Weg), W...",NaN,NaN,NaN,3012.0,gewidmet,12400722.0,Hermsdorf West,"Heidenheimer Str. (ab Friedrichsthaler Weg), W..."
3,00008100_00104620,00008100:00104620,01180,Reinickendorf,L√ºbars,Gr√ºnanlage,"Wittenauer Str., s√ºdl. AEG-Siedlung",NaN,NaN,NaN,3374.2,gewidmet,12500929.0,L√ºbars,"Wittenauer Str., s√ºdl. AEG-Siedlung, Berlin, G..."
4,00008100_00104438,00008100:00104438,00476,Reinickendorf,Reinickendorf,Gr√ºnanlage,Kuhnpromenade u. Lindauer Allee 59/61,NaN,NaN,NaN,3122.0,gewidmet,12100206.0,Humboldtstra√üe,"Kuhnpromenade u. Lindauer Allee 59/61, Berlin,..."

### Create a unique address DataFrame

In [26]:
unique_addresses = df_cleaned[['address1']].copy()
unique_addresses

                                               address1
0          Im Fischgrund, "Rosenanger", Berlin, Germany
1     Kl√∂tzbecken bis Zabel-Kr√ºger-Damm, Berlin, Ger...
2     Heidenheimer Str. (ab Friedrichsthaler Weg), W...
3     Wittenauer Str., s√ºdl. AEG-Siedlung, Berlin, G...
4     Kuhnpromenade u. Lindauer Allee 59/61, Berlin,...
...                                                 ...
2551                      Essener Park, Berlin, Germany
2552                     Nauener Platz, Berlin, Germany
2553  Leopoldplatz an der Alten Nazarethkirche, Berl...
2554                    Mollstr. 15-18, Berlin, Germany
2555  Seestra√üe s√ºdlich am Westhafenkanal, Berlin, G...

[2556 rows x 1 columns]

### Geocode only the sample_df (10 rows) of unique addresses using OpenStreetMap‚Äôs Nominatim API

In [27]:
sample_df = unique_addresses.loc[0:10]
sample_df

                                             address1
0        Im Fischgrund, "Rosenanger", Berlin, Germany
1   Kl√∂tzbecken bis Zabel-Kr√ºger-Damm, Berlin, Ger...
2   Heidenheimer Str. (ab Friedrichsthaler Weg), W...
3   Wittenauer Str., s√ºdl. AEG-Siedlung, Berlin, G...
4   Kuhnpromenade u. Lindauer Allee 59/61, Berlin,...
5     Avenue Charles de Gaulle 32-33, Berlin, Germany
6    Platz der US-Berlin-Brigaden WG, Berlin, Germany
7                    Sch√ºnemannweg N, Berlin, Germany
8       Grabens. Hlgs., Lindengraben, Berlin, Germany
9       BAB, √úberbauung Tunnel Tegel, Berlin, Germany
10                Volkspark Wittenau, Berlin, Germany

In [28]:
geolocator = Nominatim(user_agent="berlin-geocoder")

def geocode_address(address):
    try:
        location = geolocator.geocode(address)
        sleep(1)
        if location:
            return pd.Series([location.latitude, location.longitude])
        else: 
            return pd.Series([None, None])
    except:
        return pd.Series([None, None])

In [29]:
# Geocode sample_df
sample_df[['latitude', 'longitude']] = sample_df['address1'].apply(geocode_address)

In [30]:
sample_df

                                             address1   latitude  longitude
0        Im Fischgrund, "Rosenanger", Berlin, Germany        NaN        NaN
1   Kl√∂tzbecken bis Zabel-Kr√ºger-Damm, Berlin, Ger...        NaN        NaN
2   Heidenheimer Str. (ab Friedrichsthaler Weg), W...        NaN        NaN
3   Wittenauer Str., s√ºdl. AEG-Siedlung, Berlin, G...        NaN        NaN
4   Kuhnpromenade u. Lindauer Allee 59/61, Berlin,...        NaN        NaN
5     Avenue Charles de Gaulle 32-33, Berlin, Germany  52.601249  13.319022
6    Platz der US-Berlin-Brigaden WG, Berlin, Germany        NaN        NaN
7                    Sch√ºnemannweg N, Berlin, Germany  52.444492  13.352584
8       Grabens. Hlgs., Lindengraben, Berlin, Germany        NaN        NaN
9       BAB, √úberbauung Tunnel Tegel, Berlin, Germany        NaN        NaN
10                Volkspark Wittenau, Berlin, Germany  52.595374  13.329721

### Geocode the unique addresses of the entire dataset using OpenStreetMap‚Äôs Nominatim API

In [31]:
geolocator = Nominatim(user_agent="berlin-geocoder")

def geocode_address(address):
    try:
        location = geolocator.geocode(address)
        sleep(1)
        if location:
            return pd.Series([location.latitude, location.longitude])
        else: 
            return pd.Series([None, None])
    except:
        return pd.Series([None, None])

In [ ]:
# Geocode unique addresses
unique_addresses[['latitude', 'longitude']] = unique_addresses['address1'].apply(geocode_address)

In [115]:
unique_addresses

                                               address1   latitude  longitude
0          Im Fischgrund, "Rosenanger", Berlin, Germany        NaN        NaN
1     Kl√∂tzbecken bis Zabel-Kr√ºger-Damm, Berlin, Ger...        NaN        NaN
2     Heidenheimer Str. (ab Friedrichsthaler Weg), W...        NaN        NaN
3     Wittenauer Str., s√ºdl. AEG-Siedlung, Berlin, G...        NaN        NaN
4     Kuhnpromenade u. Lindauer Allee 59/61, Berlin,...        NaN        NaN
...                                                 ...        ...        ...
2551                      Essener Park, Berlin, Germany  52.524730  13.340990
2552                     Nauener Platz, Berlin, Germany  52.551406  13.367170
2553  Leopoldplatz an der Alten Nazarethkirche, Berl...        NaN        NaN
2554                    Mollstr. 15-18, Berlin, Germany  52.523370  13.424753
2555  Seestra√üe s√ºdlich am Westhafenkanal, Berlin, G...        NaN        NaN

[2556 rows x 3 columns]

In [116]:
df.head()

,technical_id,key,object_number,neighborhood,locality,type_of_green_space,green_space_name,name_extension,year_built,last_renovation_year,size_sqm,dedication,planning_area_number,planning_area_name,address1
0,00008100_001042bb,00008100:001042bb,00037,Reinickendorf,Frohnau,Gr√ºnanlage,"Im Fischgrund, ""Rosenanger""",Rosenanger,NaN,NaN,16991.5,gewidmet,12400721.0,Frohnau Ost,"Im Fischgrund, ""Rosenanger"", Berlin, Germany"
1,00008100_00104621,00008100:00104621,01179,Reinickendorf,L√ºbars,Gr√ºnanlage,Kl√∂tzbecken bis Zabel-Kr√ºger-Damm,einschl. Kl√∂tzbecken,NaN,NaN,52224.6,gewidmet,12500929.0,L√ºbars,"Kl√∂tzbecken bis Zabel-Kr√ºger-Damm, Berlin, Ger..."
2,00008100_001044bd,00008100:001044bd,01074,Reinickendorf,Hermsdorf,Gr√ºnanlage,"Heidenheimer Str. (ab Friedrichsthaler Weg), W...",NaN,NaN,NaN,3012.0,gewidmet,12400722.0,Hermsdorf West,"Heidenheimer Str. (ab Friedrichsthaler Weg), W..."
3,00008100_00104620,00008100:00104620,01180,Reinickendorf,L√ºbars,Gr√ºnanlage,"Wittenauer Str., s√ºdl. AEG-Siedlung",NaN,NaN,NaN,3374.2,gewidmet,12500929.0,L√ºbars,"Wittenauer Str., s√ºdl. AEG-Siedlung, Berlin, G..."
4,00008100_00104438,00008100:00104438,00476,Reinickendorf,Reinickendorf,Gr√ºnanlage,Kuhnpromenade u. Lindauer Allee 59/61,NaN,NaN,NaN,3122.0,gewidmet,12100206.0,Humboldtstra√üe,"Kuhnpromenade u. Lindauer Allee 59/61, Berlin,..."

### For full workflow is recomendable to save the table into a csv for avoid the long wait (101 minutes) for run the geocoder with Nominatim API

1. After geocoding (takes 101 mins):

In [2]:
unique_addresses.to_csv("unique_addresses_geocoded.csv", index=False)

NameError: name 'unique_addresses' is not defined

2. In future sessions (fast, ~2s):

In [118]:
unique_addresses = pd.read_csv("unique_addresses_geocoded.csv")

3. Then merge cleanly:

In [2]:
df = df.drop(columns=[col for col in df.columns if 'latitude' in col or 'longitude' in col], errors='ignore')
df = df.merge(unique_addresses[['address1', 'latitude', 'longitude']], on='address1', how='left')
df.head()

NameError: name 'df' is not defined

### Save the final table in CSV Format

In [8]:
df.to_csv('public_parks_transformed.csv', index=False)

NameError: name 'df' is not defined

Correr el codigo desde aqui .,.

In [43]:
import os
print(os.getcwd())

/Users/dianaterraza/Desktop/webeet.io/layered-populate-data-pool-da/recreational_zones/scripts

In [44]:
df = pd.read_csv("../sources/public_parks_transformed.csv")

In [45]:
df.head(10)

,technical_id,key,object_number,neighborhood,locality,type_of_green_space,green_space_name,name_extension,year_built,last_renovation_year,size_sqm,dedication,planning_area_number,planning_area_name,address1,latitude,longitude
0,00008100_001042bb,00008100:001042bb,00037,Reinickendorf,Frohnau,Gr√ºnanlage,"Im Fischgrund, ""Rosenanger""",Rosenanger,NaN,NaN,16991.5,gewidmet,12400721.0,Frohnau Ost,"Im Fischgrund, ""Rosenanger"", Berlin, Germany",NaN,NaN
1,00008100_00104621,00008100:00104621,01179,Reinickendorf,L√ºbars,Gr√ºnanlage,Kl√∂tzbecken bis Zabel-Kr√ºger-Damm,einschl. Kl√∂tzbecken,NaN,NaN,52224.6,gewidmet,12500929.0,L√ºbars,"Kl√∂tzbecken bis Zabel-Kr√ºger-Damm, Berlin, Ger...",NaN,NaN
2,00008100_001044bd,00008100:001044bd,01074,Reinickendorf,Hermsdorf,Gr√ºnanlage,"Heidenheimer Str. (ab Friedrichsthaler Weg), W...",NaN,NaN,NaN,3012.0,gewidmet,12400722.0,Hermsdorf West,"Heidenheimer Str. (ab Friedrichsthaler Weg), W...",NaN,NaN
3,00008100_00104620,00008100:00104620,01180,Reinickendorf,L√ºbars,Gr√ºnanlage,"Wittenauer Str., s√ºdl. AEG-Siedlung",NaN,NaN,NaN,3374.2,gewidmet,12500929.0,L√ºbars,"Wittenauer Str., s√ºdl. AEG-Siedlung, Berlin, G...",NaN,NaN
4,00008100_00104438,00008100:00104438,00476,Reinickendorf,Reinickendorf,Gr√ºnanlage,Kuhnpromenade u. Lindauer Allee 59/61,NaN,NaN,NaN,3122.0,gewidmet,12100206.0,Humboldtstra√üe,"Kuhnpromenade u. Lindauer Allee 59/61, Berlin,...",NaN,NaN
5,00008100_00104357,00008100:00104357,35060,Reinickendorf,Wittenau,Gr√ºnanlage,Avenue Charles de Gaulle 32-33,hinter Nimrodstr. u. am Packereigraben,NaN,NaN,8738.3,gewidmet,12500927.0,Wittenau Nord,"Avenue Charles de Gaulle 32-33, Berlin, Germany",NaN,NaN
6,00008100_00315c33,00008100:00315c33,103014,Steglitz-Zehlendorf,Lichterfelde,Gr√ºnanlage,Platz der US-Berlin-Brigaden WG,NaN,NaN,NaN,2194.0,gewidmet,6300632.0,Schweizer Viertel,"Platz der US-Berlin-Brigaden WG, Berlin, Germany",NaN,NaN
7,00008100_000e3bb3,00008100:000e3bb3,102180,Steglitz-Zehlendorf,Steglitz,Gr√ºnanlage,Sch√ºnemannweg N,Sch√ºnemannweg 6A u.16A; Tuttlinger Weg,NaN,NaN,3889.0,gewidmet,6100205.0,S√ºdende,"Sch√ºnemannweg N, Berlin, Germany",52.444492,13.352584
8,00008100_00104488,00008100:00104488,00599,Reinickendorf,Heiligensee,Gr√ºnanlage,"Grabens. Hlgs., Lindengraben",NaN,NaN,NaN,12490.9,gewidmet,12400617.0,Alt-Heiligensee,"Grabens. Hlgs., Lindengraben, Berlin, Germany",NaN,NaN
9,00008100_00104409,00008100:00104409,00714,Reinickendorf,Tegel,Gr√ºnanlage,"BAB, √úberbauung Tunnel Tegel",Ernststr. - Waidmannsluster Damm,NaN,NaN,29894.7,gewidmet,12500824.0,Ziekowstra√üe/Freie Scholle,"BAB, √úberbauung Tunnel Tegel, Berlin, Germany",NaN,NaN

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2596 entries, 0 to 2595
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   technical_id          2596 non-null   object
 1   key                   2596 non-null   object
 2   object_number         2596 non-null   object
 3   neighborhood          2596 non-null   object
 4   locality              2596 non-null   object
 5   type_of_green_space   2596 non-null   object
 6   green_space_name      2596 non-null   object
 7   name_extension        1445 non-null   object
 8   year_built            368 non-null    float64
 9   last_renovation_year  169 non-null    float64
 10  size_sqm              2596 non-null   float64
 11  dedication            2596 non-null   object
 12  planning_area_number  2596 non-null   float64
 13  planning_area_name    2596 non-null   object
 14  address1              2596 non-null   object
 15  latitude              703 non-null    float64
 16  longitude             703 non-null    float64
dtypes: float64(6), object(11)
memory usage: 344.9+ KB

### Rename the Columns : Neighborhood to District and Locality to Neighborhood

In [47]:
df.rename(columns={
    'neighborhood': 'district',
    'locality': 'neighborhood'
}, inplace=True)

In [48]:
df.columns

Index(['technical_id', 'key', 'object_number', 'district', 'neighborhood',
       'type_of_green_space', 'green_space_name', 'name_extension',
       'year_built', 'last_renovation_year', 'size_sqm', 'dedication',
       'planning_area_number', 'planning_area_name', 'address1', 'latitude',
       'longitude'],
      dtype='object')

In [49]:
df.head(10)

,technical_id,key,object_number,district,neighborhood,type_of_green_space,green_space_name,name_extension,year_built,last_renovation_year,size_sqm,dedication,planning_area_number,planning_area_name,address1,latitude,longitude
0,00008100_001042bb,00008100:001042bb,00037,Reinickendorf,Frohnau,Gr√ºnanlage,"Im Fischgrund, ""Rosenanger""",Rosenanger,NaN,NaN,16991.5,gewidmet,12400721.0,Frohnau Ost,"Im Fischgrund, ""Rosenanger"", Berlin, Germany",NaN,NaN
1,00008100_00104621,00008100:00104621,01179,Reinickendorf,L√ºbars,Gr√ºnanlage,Kl√∂tzbecken bis Zabel-Kr√ºger-Damm,einschl. Kl√∂tzbecken,NaN,NaN,52224.6,gewidmet,12500929.0,L√ºbars,"Kl√∂tzbecken bis Zabel-Kr√ºger-Damm, Berlin, Ger...",NaN,NaN
2,00008100_001044bd,00008100:001044bd,01074,Reinickendorf,Hermsdorf,Gr√ºnanlage,"Heidenheimer Str. (ab Friedrichsthaler Weg), W...",NaN,NaN,NaN,3012.0,gewidmet,12400722.0,Hermsdorf West,"Heidenheimer Str. (ab Friedrichsthaler Weg), W...",NaN,NaN
3,00008100_00104620,00008100:00104620,01180,Reinickendorf,L√ºbars,Gr√ºnanlage,"Wittenauer Str., s√ºdl. AEG-Siedlung",NaN,NaN,NaN,3374.2,gewidmet,12500929.0,L√ºbars,"Wittenauer Str., s√ºdl. AEG-Siedlung, Berlin, G...",NaN,NaN
4,00008100_00104438,00008100:00104438,00476,Reinickendorf,Reinickendorf,Gr√ºnanlage,Kuhnpromenade u. Lindauer Allee 59/61,NaN,NaN,NaN,3122.0,gewidmet,12100206.0,Humboldtstra√üe,"Kuhnpromenade u. Lindauer Allee 59/61, Berlin,...",NaN,NaN
5,00008100_00104357,00008100:00104357,35060,Reinickendorf,Wittenau,Gr√ºnanlage,Avenue Charles de Gaulle 32-33,hinter Nimrodstr. u. am Packereigraben,NaN,NaN,8738.3,gewidmet,12500927.0,Wittenau Nord,"Avenue Charles de Gaulle 32-33, Berlin, Germany",NaN,NaN
6,00008100_00315c33,00008100:00315c33,103014,Steglitz-Zehlendorf,Lichterfelde,Gr√ºnanlage,Platz der US-Berlin-Brigaden WG,NaN,NaN,NaN,2194.0,gewidmet,6300632.0,Schweizer Viertel,"Platz der US-Berlin-Brigaden WG, Berlin, Germany",NaN,NaN
7,00008100_000e3bb3,00008100:000e3bb3,102180,Steglitz-Zehlendorf,Steglitz,Gr√ºnanlage,Sch√ºnemannweg N,Sch√ºnemannweg 6A u.16A; Tuttlinger Weg,NaN,NaN,3889.0,gewidmet,6100205.0,S√ºdende,"Sch√ºnemannweg N, Berlin, Germany",52.444492,13.352584
8,00008100_00104488,00008100:00104488,00599,Reinickendorf,Heiligensee,Gr√ºnanlage,"Grabens. Hlgs., Lindengraben",NaN,NaN,NaN,12490.9,gewidmet,12400617.0,Alt-Heiligensee,"Grabens. Hlgs., Lindengraben, Berlin, Germany",NaN,NaN
9,00008100_00104409,00008100:00104409,00714,Reinickendorf,Tegel,Gr√ºnanlage,"BAB, √úberbauung Tunnel Tegel",Ernststr. - Waidmannsluster Damm,NaN,NaN,29894.7,gewidmet,12500824.0,Ziekowstra√üe/Freie Scholle,"BAB, √úberbauung Tunnel Tegel, Berlin, Germany",NaN,NaN

### Add the column district_id using mapping

In [50]:
# Create the dictionary for mapping districts to IDs
district_mapping = {
    'Mitte': '01',
    'Friedrichshain-Kreuzberg': '02',
    'Pankow': '03',
    'Charlottenburg-Wilmersdorf': '04',
    'Spandau': '05',
    'Steglitz-Zehlendorf': '06',
    'Tempelhof-Sch√∂neberg': '07',
    'Neuk√∂lln': '08',
    'Treptow-K√∂penick': '09',
    'Marzahn-Hellersdorf': '10',
    'Lichtenberg': '11',
    'Reinickendorf': '12'
}

# Add the district_id to the df
df['district_id'] = df['district'].map(district_mapping)

# look the result
print("first rows with the new column:")
print(df[['district', 'district_id']].head(10))

# Check for unmapped values (NaN)
unmapped_districts = df[df['district_id'].isna()]['district'].unique()
if len(unmapped_districts) > 0:
    print(f"\nUnmapped Districts: {unmapped_districts}")
else:
    print("\nAll districts were mapped correctly")

# Display statistics for the new column
print(f"\nDistribution of district_id:")
print(df['district_id'].value_counts().sort_index())

first rows with the new column:
              district district_id
0        Reinickendorf          12
1        Reinickendorf          12
2        Reinickendorf          12
3        Reinickendorf          12
4        Reinickendorf          12
5        Reinickendorf          12
6  Steglitz-Zehlendorf          06
7  Steglitz-Zehlendorf          06
8        Reinickendorf          12
9        Reinickendorf          12

All districts were mapped correctly

Distribution of district_id:
district_id
01    300
02    192
03    265
04    160
05    254
06    179
07    144
08    117
09    231
10    253
11    306
12    195
Name: count, dtype: int64

In [51]:
df.head(10)

,technical_id,key,object_number,district,neighborhood,type_of_green_space,green_space_name,name_extension,year_built,last_renovation_year,size_sqm,dedication,planning_area_number,planning_area_name,address1,latitude,longitude,district_id
0,00008100_001042bb,00008100:001042bb,00037,Reinickendorf,Frohnau,Gr√ºnanlage,"Im Fischgrund, ""Rosenanger""",Rosenanger,NaN,NaN,16991.5,gewidmet,12400721.0,Frohnau Ost,"Im Fischgrund, ""Rosenanger"", Berlin, Germany",NaN,NaN,12
1,00008100_00104621,00008100:00104621,01179,Reinickendorf,L√ºbars,Gr√ºnanlage,Kl√∂tzbecken bis Zabel-Kr√ºger-Damm,einschl. Kl√∂tzbecken,NaN,NaN,52224.6,gewidmet,12500929.0,L√ºbars,"Kl√∂tzbecken bis Zabel-Kr√ºger-Damm, Berlin, Ger...",NaN,NaN,12
2,00008100_001044bd,00008100:001044bd,01074,Reinickendorf,Hermsdorf,Gr√ºnanlage,"Heidenheimer Str. (ab Friedrichsthaler Weg), W...",NaN,NaN,NaN,3012.0,gewidmet,12400722.0,Hermsdorf West,"Heidenheimer Str. (ab Friedrichsthaler Weg), W...",NaN,NaN,12
3,00008100_00104620,00008100:00104620,01180,Reinickendorf,L√ºbars,Gr√ºnanlage,"Wittenauer Str., s√ºdl. AEG-Siedlung",NaN,NaN,NaN,3374.2,gewidmet,12500929.0,L√ºbars,"Wittenauer Str., s√ºdl. AEG-Siedlung, Berlin, G...",NaN,NaN,12
4,00008100_00104438,00008100:00104438,00476,Reinickendorf,Reinickendorf,Gr√ºnanlage,Kuhnpromenade u. Lindauer Allee 59/61,NaN,NaN,NaN,3122.0,gewidmet,12100206.0,Humboldtstra√üe,"Kuhnpromenade u. Lindauer Allee 59/61, Berlin,...",NaN,NaN,12
5,00008100_00104357,00008100:00104357,35060,Reinickendorf,Wittenau,Gr√ºnanlage,Avenue Charles de Gaulle 32-33,hinter Nimrodstr. u. am Packereigraben,NaN,NaN,8738.3,gewidmet,12500927.0,Wittenau Nord,"Avenue Charles de Gaulle 32-33, Berlin, Germany",NaN,NaN,12
6,00008100_00315c33,00008100:00315c33,103014,Steglitz-Zehlendorf,Lichterfelde,Gr√ºnanlage,Platz der US-Berlin-Brigaden WG,NaN,NaN,NaN,2194.0,gewidmet,6300632.0,Schweizer Viertel,"Platz der US-Berlin-Brigaden WG, Berlin, Germany",NaN,NaN,06
7,00008100_000e3bb3,00008100:000e3bb3,102180,Steglitz-Zehlendorf,Steglitz,Gr√ºnanlage,Sch√ºnemannweg N,Sch√ºnemannweg 6A u.16A; Tuttlinger Weg,NaN,NaN,3889.0,gewidmet,6100205.0,S√ºdende,"Sch√ºnemannweg N, Berlin, Germany",52.444492,13.352584,06
8,00008100_00104488,00008100:00104488,00599,Reinickendorf,Heiligensee,Gr√ºnanlage,"Grabens. Hlgs., Lindengraben",NaN,NaN,NaN,12490.9,gewidmet,12400617.0,Alt-Heiligensee,"Grabens. Hlgs., Lindengraben, Berlin, Germany",NaN,NaN,12
9,00008100_00104409,00008100:00104409,00714,Reinickendorf,Tegel,Gr√ºnanlage,"BAB, √úberbauung Tunnel Tegel",Ernststr. - Waidmannsluster Damm,NaN,NaN,29894.7,gewidmet,12500824.0,Ziekowstra√üe/Freie Scholle,"BAB, √úberbauung Tunnel Tegel, Berlin, Germany",NaN,NaN,12

### Append to DB (Populate the Database)

In [52]:
# SQLAlchemy connection string format:
# postgresql+psycopg2://user:password@host:port/dbname

DATABASE_URL = (
    "postgresql+psycopg2://postgres:b319nnlsekSOfIiVDpRC@layered-data-warehouse.cdg2ok68acsn.eu-central-1.rds.amazonaws.com:5432/berlin_project_db"
)

# Create engine and establish connection
engine = create_engine(DATABASE_URL)

In [ ]:
# Creating the new table with the specified schema
with engine.begin() as conn:
    conn.execute(text("""
    CREATE TABLE IF NOT EXISTS berlin_data.green_spaces (
        technical_id VARCHAR NOT NULL,
        key VARCHAR NOT NULL,
        object_number VARCHAR,
        district_id VARCHAR NOT NULL, -- FK (foreign key),
        district VARCHAR NOT NULL, 
        neighborhod VARCHAR NOT NULL,
        type_of_green_space VARCHAR NOT NULL,
        green_space_name VARCHAR NOT NULL,
        name_extension VARCHAR,
        year_built INT,
        last_renovation_year INT,
        size_sqm FLOAT NOT NULL,
        dedication VARCHAR,
        planning_area_number FLOAT NOT NULL,
        planning_area_name VARCHAR,
        address1 VARCHAR NOT NULL,
        longitude DECIMAL(9,6),
        latitude DECIMAL(9,6),
        CONSTRAINT green_spaces_neighborhood_fkey 
        FOREIGN KEY (district_id) 
        REFERENCES berlin_data.districts(district_id) 
        ON DELETE RESTRICT ON UPDATE CASCADE
    
    );  
    """))
conn.commit()

In [ ]:
# Populate NeonDB with green_spaces data

df.to_sql(
    name='green_spaces',
    con=engine,
    schema='berlin_data',
    if_exists='append',
    index=False
)

OperationalError: (psycopg2.OperationalError) connection to server at "ep-falling-glitter-a5m0j5gk-pooler.us-east-2.aws.neon.tech" (2600:1f16:12b2:b416:3645:2f59:5554:9b89), port 5432 failed: ERROR:  Your project has exceeded the data transfer quota. Upgrade your plan to increase limits.

(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [ ]:
query = "SELECT * FROM berlin_data.green_spaces LIMIT 5;"
df = pd.read_sql(query, engine)
df.head()

,technical_id,key,object_number,neighborhood,locality,type_of_green_space,green_space_name,name_extension,year_built,last_renovation_year,size_sqm,dedication,planning_area_number,planning_area_name,address1,longitude,latitude
0,00008100_001042bb,00008100:001042bb,00037,Reinickendorf,Frohnau,Gr√ºnanlage,"Im Fischgrund, ""Rosenanger""",Rosenanger,None,None,16991.5,gewidmet,12400721.0,Frohnau Ost,"Im Fischgrund, ""Rosenanger"", Berlin, Germany",None,None
1,00008100_00104621,00008100:00104621,01179,Reinickendorf,L√ºbars,Gr√ºnanlage,Kl√∂tzbecken bis Zabel-Kr√ºger-Damm,einschl. Kl√∂tzbecken,None,None,52224.6,gewidmet,12500929.0,L√ºbars,"Kl√∂tzbecken bis Zabel-Kr√ºger-Damm, Berlin, Ger...",None,None
2,00008100_001044bd,00008100:001044bd,01074,Reinickendorf,Hermsdorf,Gr√ºnanlage,"Heidenheimer Str. (ab Friedrichsthaler Weg), W...",None,None,None,3012.0,gewidmet,12400722.0,Hermsdorf West,"Heidenheimer Str. (ab Friedrichsthaler Weg), W...",None,None
3,00008100_00104620,00008100:00104620,01180,Reinickendorf,L√ºbars,Gr√ºnanlage,"Wittenauer Str., s√ºdl. AEG-Siedlung",None,None,None,3374.2,gewidmet,12500929.0,L√ºbars,"Wittenauer Str., s√ºdl. AEG-Siedlung, Berlin, G...",None,None
4,00008100_00104438,00008100:00104438,00476,Reinickendorf,Reinickendorf,Gr√ºnanlage,Kuhnpromenade u. Lindauer Allee 59/61,None,None,None,3122.0,gewidmet,12100206.0,Humboldtstra√üe,"Kuhnpromenade u. Lindauer Allee 59/61, Berlin,...",None,None

In [83]:
with engine.connect() as conn:
    result = conn.execute(text("SELECT inet_server_addr();"))
    print(result.fetchone())

('::1',)