In [1]:
import pandas as pd
import numpy as np

In [ ]:
# Load the db playground data
df = pd.read_csv("/Users/dianaterraza/Desktop/webeet.io/layered-populate-data-pool-da/recreational_zones/sources/public_parks.csv", sep=';')

In [5]:
# Load the unique_addresses_geocoded.csv file
unique_addresses = pd.read_csv("/Users/dianaterraza/Desktop/webeet.io/layered-populate-data-pool-da/recreational_zones/sources/unique_addresses_geocoded.csv")

In [6]:
df.head()

,Technischer Schlüssel,Schlüssel,Objektnummer,Bezirk,Ortsteil,Art der Grünanlage,Name der Grünanlage,Namenszusatz der Grünanlage,Baujahr,letztes Sanierungsjahr,Größe in m² (Kataster),Widmung,Nummer des Planungsraumes,Name des Planungsraumes
0,00008100_001042bb,00008100:001042bb,00037,Reinickendorf,Frohnau,Grünanlage,"Im Fischgrund, ""Rosenanger""",Rosenanger,-,-,"16991,50",gewidmet,12400721,Frohnau Ost
1,00008100_00104621,00008100:00104621,01179,Reinickendorf,Lübars,Grünanlage,Klötzbecken bis Zabel-Krüger-Damm,einschl. Klötzbecken,-,-,"52224,60",gewidmet,12500929,Lübars
2,00008100_001044bd,00008100:001044bd,01074,Reinickendorf,Hermsdorf,Grünanlage,"Heidenheimer Str. (ab Friedrichsthaler Weg), W...",-,-,-,"3012,00",gewidmet,12400722,Hermsdorf West
3,00008100_00104620,00008100:00104620,01180,Reinickendorf,Lübars,Grünanlage,"Wittenauer Str., südl. AEG-Siedlung",-,-,-,"3374,20",gewidmet,12500929,Lübars
4,00008100_00104438,00008100:00104438,00476,Reinickendorf,Reinickendorf,Grünanlage,Kuhnpromenade u. Lindauer Allee 59/61,-,-,-,"3122,00",gewidmet,12100206,Humboldtstraße

In [7]:
unique_addresses.head()

                                            Address1  Latitude  Longitude
0       Im Fischgrund, "Rosenanger", Berlin, Germany       NaN        NaN
1  Klötzbecken bis Zabel-Krüger-Damm, Berlin, Ger...       NaN        NaN
2  Heidenheimer Str. (ab Friedrichsthaler Weg), W...       NaN        NaN
3  Wittenauer Str., südl. AEG-Siedlung, Berlin, G...       NaN        NaN
4  Kuhnpromenade u. Lindauer Allee 59/61, Berlin,...       NaN        NaN