In [14]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine, text
import warnings
warnings.filterwarnings("ignore")

In [15]:
# SQLAlchemy connection string format:
# postgresql+psycopg2://user:password@host:port/dbname

DATABASE_URL = (
    "postgresql+psycopg2://neondb_owner:npg_CeS9fJg2azZD"
    "@ep-falling-glitter-a5m0j5gk-pooler.us-east-2.aws.neon.tech:5432/neondb"
    "?sslmode=require"
)

# Create engine and establish connection
engine = create_engine(DATABASE_URL)

In [10]:
#creating new table
with engine.begin() as conn:
    conn.execute(text("""

CREATE TABLE IF NOT EXISTS test_berlin_data.ubahn (
    station VARCHAR(50) NOT NULL,
    line VARCHAR(10) NOT NULL,
    latitude DECIMAL(9,6) NOT NULL,
    longitude DECIMAL(9,6) NOT NULL,
    postcode VARCHAR(10),
    neighborhood VARCHAR(50),
    district VARCHAR(50) NOT NULL,
    FOREIGN KEY (district) REFERENCES test_berlin_data.neighborhood(neighborhood) ON DELETE CASCADE
);
    """))

In [16]:
query = "SELECT * FROM test_berlin_data.ubahn;"
df = pd.read_sql(query, engine)
df.head()

,station,line,latitude,longitude,postcode,neighborhood,district
0,Adenauerplatz,U7,52.499722,13.307222,10707,Charlottenburg,Charlottenburg-Wilmersdorf
1,Afrikanische Straße,U6,52.560028,13.334633,13349,Wedding,Mitte
2,Alexanderplatz,U5,52.521389,13.411944,10178,Mitte,Mitte
3,Alexanderplatz,U2,52.521389,13.411944,10178,Mitte,Mitte
4,Alexanderplatz,U8,52.521389,13.411944,10178,Mitte,Mitte

In [ ]:
# Load the cleaned U-Bahn dataset and explicitly set 'postcode' as string (better for preserving leading zeros and formatting)
df = pd.read_csv("ubahn.csv", dtype={"postcode": str})

# Rename columns: 'stadtteil' to 'neighborhood', 'neighborhood' to 'district' for consistency and clarity
df.rename(columns={"stadtteil": "neighborhood", "neighborhood": "district"}, inplace=True)

In [12]:
df.to_sql(
    name='ubahn',      
    con=engine,
    schema='test_berlin_data',          
    if_exists='append',
    index=False
)

191