## üß™ Step 1: Research & Data Modelling

### Public Parks (Gr√ºnenanlage) Berlin

In [4]:
import pandas as pd
from geopy.geocoders import Nominatim
from time import sleep

In [2]:
# Load your CSV
df = pd.read_csv("/Users/dianaterraza/Desktop/webeet.io/layered-populate-data-pool-da/recreational_zones/sources/public_parks.csv", sep=';')

In [5]:
df.head()

,Technischer Schl√ºssel,Schl√ºssel,Objektnummer,Bezirk,Ortsteil,Art der Gr√ºnanlage,Name der Gr√ºnanlage,Namenszusatz der Gr√ºnanlage,Baujahr,letztes Sanierungsjahr,Gr√∂√üe in m¬≤ (Kataster),Widmung,Nummer des Planungsraumes,Name des Planungsraumes
0,00008100_001042bb,00008100:001042bb,00037,Reinickendorf,Frohnau,Gr√ºnanlage,"Im Fischgrund, ""Rosenanger""",Rosenanger,-,-,"16991,50",gewidmet,12400721,Frohnau Ost
1,00008100_00104621,00008100:00104621,01179,Reinickendorf,L√ºbars,Gr√ºnanlage,Kl√∂tzbecken bis Zabel-Kr√ºger-Damm,einschl. Kl√∂tzbecken,-,-,"52224,60",gewidmet,12500929,L√ºbars
2,00008100_001044bd,00008100:001044bd,01074,Reinickendorf,Hermsdorf,Gr√ºnanlage,"Heidenheimer Str. (ab Friedrichsthaler Weg), W...",-,-,-,"3012,00",gewidmet,12400722,Hermsdorf West
3,00008100_00104620,00008100:00104620,01180,Reinickendorf,L√ºbars,Gr√ºnanlage,"Wittenauer Str., s√ºdl. AEG-Siedlung",-,-,-,"3374,20",gewidmet,12500929,L√ºbars
4,00008100_00104438,00008100:00104438,00476,Reinickendorf,Reinickendorf,Gr√ºnanlage,Kuhnpromenade u. Lindauer Allee 59/61,-,-,-,"3122,00",gewidmet,12100206,Humboldtstra√üe

In [6]:
df.columns

Index(['Technischer Schl√ºssel', 'Schl√ºssel', 'Objektnummer', 'Bezirk',
       'Ortsteil', 'Art der Gr√ºnanlage', 'Name der Gr√ºnanlage',
       'Namenszusatz der Gr√ºnanlage', 'Baujahr', 'letztes Sanierungsjahr',
       'Gr√∂√üe in m¬≤ (Kataster)', 'Widmung', 'Nummer des Planungsraumes',
       'Name des Planungsraumes'],
      dtype='object')

### Rename the Columns

In [7]:
df.rename(columns={
    'Technischer Schl√ºssel': 'Technical ID',
    'Schl√ºssel': 'Key',
    'Objektnummer': 'Object Number',
    'Bezirk': 'Borough',
    'Ortsteil': 'Locality',
    'Art der Gr√ºnanlage': 'Type of Green Space',
    'Name der Gr√ºnanlage': 'Green Space Name',
    'Namenszusatz der Gr√ºnanlage': 'Name Extension',
    'Baujahr': 'Year Built',
    'letztes Sanierungsjahr': 'Last Renovation Year',
    'Gr√∂√üe in m¬≤ (Kataster)': 'Size sqm',
    'Widmung': 'Dedication',
    'Nummer des Planungsraumes': 'Planning Area Number',
    'Name des Planungsraumes': 'Planning Area Name'
}, inplace=True)

In [8]:
df.columns

Index(['Technical ID', 'Key', 'Object Number', 'Borough', 'Locality',
       'Type of Green Space', 'Green Space Name', 'Name Extension',
       'Year Built', 'Last Renovation Year', 'Size sqm', 'Dedication',
       'Planning Area Number', 'Planning Area Name'],
      dtype='object')

### Create full Address Column

In [9]:
df['Full Address'] = (
    df['Green Space Name'].astype(str) + ", " +
    df['Planning Area Name'].astype(str) + ", Berlin, Germany"
)

df.head()

,Technical ID,Key,Object Number,Borough,Locality,Type of Green Space,Green Space Name,Name Extension,Year Built,Last Renovation Year,Size sqm,Dedication,Planning Area Number,Planning Area Name,Full Address
0,00008100_001042bb,00008100:001042bb,00037,Reinickendorf,Frohnau,Gr√ºnanlage,"Im Fischgrund, ""Rosenanger""",Rosenanger,-,-,"16991,50",gewidmet,12400721,Frohnau Ost,"Im Fischgrund, ""Rosenanger"", Frohnau Ost, Berl..."
1,00008100_00104621,00008100:00104621,01179,Reinickendorf,L√ºbars,Gr√ºnanlage,Kl√∂tzbecken bis Zabel-Kr√ºger-Damm,einschl. Kl√∂tzbecken,-,-,"52224,60",gewidmet,12500929,L√ºbars,"Kl√∂tzbecken bis Zabel-Kr√ºger-Damm, L√ºbars, Ber..."
2,00008100_001044bd,00008100:001044bd,01074,Reinickendorf,Hermsdorf,Gr√ºnanlage,"Heidenheimer Str. (ab Friedrichsthaler Weg), W...",-,-,-,"3012,00",gewidmet,12400722,Hermsdorf West,"Heidenheimer Str. (ab Friedrichsthaler Weg), W..."
3,00008100_00104620,00008100:00104620,01180,Reinickendorf,L√ºbars,Gr√ºnanlage,"Wittenauer Str., s√ºdl. AEG-Siedlung",-,-,-,"3374,20",gewidmet,12500929,L√ºbars,"Wittenauer Str., s√ºdl. AEG-Siedlung, L√ºbars, B..."
4,00008100_00104438,00008100:00104438,00476,Reinickendorf,Reinickendorf,Gr√ºnanlage,Kuhnpromenade u. Lindauer Allee 59/61,-,-,-,"3122,00",gewidmet,12100206,Humboldtstra√üe,"Kuhnpromenade u. Lindauer Allee 59/61, Humbold..."

### Lets look for duplicates

In [10]:
# Count duplicate Full Address values
duplicates = df['Full Address'].duplicated().sum()
print(f"Found {duplicates} duplicate addresses.")

Found 16 duplicate addresses.

### Create a unique address DataFrame

In [11]:
unique_addresses = df[['Full Address']].drop_duplicates().copy()

### Geocode only the unique addresses using OpenStreetMap‚Äôs Nominatim API

In [12]:
geolocator = Nominatim(user_agent="berlin-geocoder")

def geocode_address(address):
    try:
        location = geolocator.geocode(address)
        sleep(1)
        if location:
            return pd.Series([location.latitude, location.longitude])
    except:
        return pd.Series([None, None])

In [ ]:
# Geocode unique addresses
unique_addresses[['Latitude', 'Longitude']] = unique_addresses['Full Address'].apply(geocode_address)